[2011-10-07 14:51] nzoschke opened #3 "Build explodes if user checks in virtualenv lib/ dir"

[2011-10-10 12:40] nzoschke opened #4 "deleted files remain in cache"
If I add a file to bin/ in my repo, push to heroku, then remove that file from my repo, the file persists in the bin dir cache.

This is leading me to think that . isn't the best place for the virtualenv, perhaps use ENV/ as the docs suggest?

[2011-10-18 18:30] nzoschke opened #5 "Problem with 2.7 libraries on cedar?"
Reported by a Herkou user, not yet verified by myself.

Would be nice to find a way to reproduce without RubyPython...

[code]

[2011-10-18 18:34] nzoschke opened #6 "Reclaim ./bin/ by moving virtualenv to ./venv/"
Not 100% sure of the recommended directory by the virtualenv maintainers, but there is mounting evidence that . is not the best place for the virtualenv, as it can conflict with a users repo bin/ or lib/ dir, etc.

The virtualenv should be moved to a different sub directory and set PATH appropriately.

[2011-11-02 18:27] nzoschke opened #7 "Vendored venv re-uses existing python binary over system binary"
A stack image with Python 2.7.2 is rolling out. Pushing an existing app against this, however, still keeps the Python 2.7.1 binary from the existing venv.

The only explanation is that virtualenv is re-using the existing/old bin/python when it does the "New python executable in ./bin/python" step.

Need to dig into virtualenv to see how its finds a python binary, and get it to always use the syste

[2011-11-17 17:54] #3 closed, assigned to nobody

[2011-12-07 21:25] blanchardjeremy opened #11 "Explain required project structure better"
The heroku docs and this project's readme should explain the format better. I had to read the code to adjust my existing application.

Most of the 3rd party docuemtnation I've read captured the fact that you need requirements.txt in the root and everything else in an `appname/` subdirectory.

None of them captured that settings.py needed to be at `appname/settings.py`. Mine was in another subdirec

[2011-12-10 00:55] kennethreitz opened #12 "support sqlite3 module"

[2011-12-16 19:54] kennethreitz opened #13 "Give nicer feedback when PyPi appears to be down."

[2011-12-16 19:55] kennethreitz opened #14 "Strip -e's from requirements.txt at build time."
This depends on an upcoming upstream fix to pip's url parsing mechanism.

[2011-12-26 07:59] chrishas35 opened #15 "Detect a settings module as Django project type"
I have a project with the following structure (following the recent advice of BDFL @jacobian, http://www.slideshare.net/jacobian/the-best-and-worst-of-django slide 51)

[code]

Unfortunately, Heroku doesn't detect this as a Django project due to the fact that a settings.py file does not exist.

[2011-12-26 23:19] kennethreitz opened #16 "Better Django Detection"
Be more liberal with the django checks, but check for Django in `requirements.txt`.

This will solve cases like #15

[2011-12-26 23:54] #15 closed, assigned to nobody

[2012-01-06 02:55] suvash opened #22 "Unable to push to Heroku, Django(1.4.a1) installed from github (in requirements.txt)"
Installation of Django 1.4-a1 (to install the Django from the github HEAD)
`pip install -e git+https:////github.com/django/django.git#egg=Django-dev`

after freezing using `pip freeze -l > requirements.txt` I get
`-e git+https://github.com/django/django.git@4bdd63bfd7a2318f0e3108ee714abf2defe25593#egg=Django-dev`

I can use the above generated `requirements.txt` to reinstall the dependencies(to re

[2012-01-06 13:10] #22 closed, assigned to nobody

[2012-01-13 01:32] kennethreitz opened #25 "Run `manage.py collectstatic` in buildpack"
This would make scenarios like [this](http://matthewphiong.com/tag/collectstatic) unnecessary.

[2012-01-13 01:33] kennethreitz opened #26 "Provide a way to disable Django settings injection."

[2012-01-18 13:12] #4 closed, assigned to nobody

[2012-01-29 15:33] ptone opened #28 "Django createsuper user fails on heroku"
**createsuperuser management command fails with:**

`return getpass.getuser().decode(locale.getdefaultlocale()[1])
TypeError: decode() argument 1 must be string, not None`
**related to:**

https://code.djangoproject.com/ticket/16017

**fixed by:**

http://stackoverflow.com/questions/8981065/on-heroku-locale-getdefaultlocale-is-returning-none-none-breaking-django

heroku config:add LANG=en_US.UTF-8

[2012-02-21 18:41] #14 closed, assigned to kennethreitz

[2012-02-21 18:56] #7 closed, assigned to nobody

[2012-02-21 18:57] #11 closed, assigned to kennethreitz

[2012-02-21 18:58] #5 closed, assigned to nobody

[2012-03-13 02:12] dmishe opened #30 "Django 1.4 layout"
If you follow heroku guide on django, but use 1.4, it won't be started on release. In logs:

[code]

I assume this is due to new [layout](https://docs.djangoproject.com/en/dev/releases/1.4/#updated-default-project-layout-and-manage-py), specifically `settings.py` and `manage.py` being on different levels and default web process will not be able to find `manage.py`

[2012-03-18 02:36] desimone opened #31 "Django 1.4 project fails to initialize"
Heroku does not seem to recognize my project. I'm not sure if this is at all related to #30.

See  gist: https://gist.github.com/2ee3ddc51470ffeb3c76

[2012-03-18 19:08] #31 closed, assigned to nobody

[2012-03-20 11:01] aljosa opened #32 "serving static files via gunicorn"
although serving files works just fine when using aws s3 or rackspace cloudfiles it doesn't work for stuff where "same origin policy" blocks using files from CDN.
there are several ways to serve static files through python app (wsgi, django, ...) so it would be great if an official recommendation what to use when deploying on heroku was part of buildpack given that performance will be affected.

[2012-03-21 17:59] aljosa opened #33 "package installed but not in requirements.txt"
package that was installed in previous push wasn't removed after it (django-piston) was removed from requirements.txt.
when i try to run "pip install -r requirements.txt" in a new "virtualenv --no-site-packages env" it doesn't install piston.

when connected w/  "heroku run bash":

~ $ pwd
/app

~ $ ls lib/python2.7/site-packages/
piston
django_piston-0.2.3-py2.7.egg-info
...

~ $ cat requirements

[2012-03-29 23:14] #30 closed, assigned to nobody

[2012-03-31 00:46] #6 closed, assigned to nobody

[2012-03-31 00:46] #16 closed, assigned to kennethreitz

[2012-03-31 02:37] #26 closed, assigned to kennethreitz

[2012-03-31 02:38] #28 closed, assigned to nobody

[2012-04-06 20:50] #33 closed, assigned to nobody

[2012-04-09 21:48] blaze33 opened #36 "Django app not detected"
Heroku detects a Django app as a Python app when requirements.txt points to django default requirements files

[code]

I initially did it that way because `pip freeze` doesn't preserve `--extra-index-url` links.

[2012-04-23 03:51] yaniv-aknin opened #37 "corrupt virtualenv breaks app deployment"
While trying to deploy a database-less django app, I did the following:
1. push to heroku
2. realize I don't want a database (and don't have `psycopg2` in `requirements.txt`)
3. Remove the database addon
4. Set `DISABLE_INJECTION=1`
5. push to heroku, see injection was still attempted
6. run `heroku labs:enable user_env_compile`
7. push to heroku

The last push resulted in:

[code]

Trying to re-p

[2012-05-02 16:49] #37 closed, assigned to nobody

[2012-05-07 01:55] rdegges opened #39 "Issue With Bootstrapping Detection"
Heya,

I've hit an issue with this buildpack's bootstrapping detection. Below is my attempt to explain this in the best way possible, if this isn't clear, please let me know ^^

I've got a Django project, whose top-level directory looks like so:

[code]

My `requirements.txt` (which Heroku detects) looks like this:

[code]

Essentially--I'm using my top-level `requirements.txt` file as a symlink,

[2012-05-07 03:21] #39 closed, assigned to nobody

[2012-05-09 23:17] #36 closed, assigned to nobody

[2012-05-15 23:15] #32 closed, assigned to nobody

[2012-05-23 16:41] #25 closed, assigned to kennethreitz

[2012-05-28 09:04] ghickman opened #44 "Extension Mechanism"
The [third-party buildpacks](https://devcenter.heroku.com/articles/third-party-buildpacks) are in general really really good but sometimes it would be useful to simply extend the master one.

I was thinking of a way to add extra build steps so an app could still use this buildpack but set paths to extra plugins (maybe a url to a github repo?). In this manner I could vendor simple extras as I've do

[2012-05-30 17:02] alsonkemp opened #45 "Don't inject code into my code; provide me with a helpful function."
The current buildpack injects code into my settings.py in order to set DB settings.  This is bad and has lots of breakage.

I would be happy if you injected a **function** at the top of my settings.py so that I could call the function later.  e.g.

[code]

[2012-05-30 17:51] #45 closed, assigned to nobody

[2012-05-30 20:53] desimone opened #46 "Error collecting static data Django 1.4"
My app, which was previously working fine, now errors on push:

[code]

The one unorthodox part of my application is that I store separate settings for my production settings  in a subfolder

[code]

in settings sub folder

[code]

and my manage.py

[code]

[2012-05-30 22:16] #46 closed, assigned to nobody

[2012-06-09 04:56] pahko opened #48 "Resource not found"
When I try this command:

[code]

it says:

[code]

So I can't deploy my django 1.4 application, why I use --buildpack option?

cause it only detects my django application if django version equals to 1.3 and I need support for django 1.4.

Am I wrong in something??

best regards

thanks

[2012-06-13 17:52] kennethreitz opened #49 "Django: Check for manage.py too"
There's a few people out there that exclude it for some reason ;)

[2012-06-20 16:08] lstoll opened #52 "Confirm in output that injection is disabled."
If the user has injection disabled via .heroku/injection_disabled , it would be nice to output this when the script runs so they know it's working.

[2012-06-28 16:56] desimone opened #53 "No changes on my end, scratching my head at "error fetching custom build-pack""
[code]

Really don't know where to start debugging. If you recall, I'm the guy with the weird settings setup whereby I have to run
`bin/python manage.py {development/production} syncdb`

See #46 for setup.

[2012-07-03 03:14] #48 closed, assigned to nobody

[2012-09-11 03:20] #53 closed, assigned to nobody

[2012-09-11 03:21] #52 closed, assigned to nobody

[2012-09-11 03:21] #44 closed, assigned to nobody

[2012-09-11 03:21] #13 closed, assigned to kennethreitz

[2012-09-11 03:21] #12 closed, assigned to kennethreitz

[2012-10-08 15:41] JeffPaine opened #56 "Detecting Django Applications with Settings Packages"
Per discussion with @kennethreitz in #38:

Now that settings injection is disabled (in favor of using `dj-database-url`) it is possible to support recognition of Django projects ([documentation](https://devcenter.heroku.com/articles/python-support#django-applications)) that use either a `settings.py` or a `settings` package.

[2012-10-11 15:22] evansd opened #57 "pylibmc not available during compile"
Desipte the _pylibmc_ requirement being detected correctly and _libmemcached_ being made available at runtime, it is not available at compile time, in particular during the `django/collectstatic` run.

If you're using the `CachedStaticFilesMixin` this causes `collectstatic` to fail.

Not precisely sure what the issue is here (_pylibmc_ detection and bootstrapping happens before any of the Django s

[2012-10-11 15:27] evansd opened #58 "bin/steps/pylibmc should use list_requirements function"
The `detect` script uses a `list_requirements` function which supports `-r` inclusion of other files. It would be nice if the `pylibmc` script made use of this as well.

Looks like a few people have been caught out by this: https://github.com/rdegges/django-heroku-memcacheify/pull/4

[2012-10-13 14:24] saulshanabrook opened #59 "Allow for Mercurial pip Installs"
Pip [supports installing from an mercurial repository](http://www.pip-installer.org/en/latest/requirements.html#mercurial), but obviously requires `hg` to be installed first. Is it possible to install `hg` in the pre-compile step?

[2012-10-14 00:46] #59 closed, assigned to nobody

[2012-10-24 15:31] tgecho opened #60 "git pip requirements are not updated when the reference changes"
If I specify a git+... requirement, it never updates after the first install, even if I change the ref to a new commit hash. It even uses the full git url + new hash in the line where it claims that the requirement is satisfied.

This does not occur if I run the same requirements file through pip locally (v 1.0.2, 1.1 or 1.2.1).

The only way to get it to update is to nuke everything via the CLEAN

[2012-10-24 15:34] #60 closed, assigned to nobody

[2012-12-09 00:44] #56 closed, assigned to nobody

[2012-12-18 05:41] #49 closed, assigned to nobody

[2012-12-21 03:10] bobwei opened #66 "GeoDjango"
Consider supporting GeoDjango required libraries?

reference:
https://github.com/cirlabs/heroku-buildpack-geodjango/

thx

[2012-12-21 03:11] #66 closed, assigned to nobody

[2012-12-21 18:13] ulyssesv opened #67 "pip command not found on recent commit"
I'm using the multi buildpack with node and python:
`BUILDPACK_URL:         https://github.com/ddollar/heroku-buildpack-multi.git`

My .buildpacks contains:

[code]

This is the output from my git push heroku master:

[code]

I've been using this setup for about 2 weeks. I've noticed that there was a commit yesterday and it seems to have broken my app. Any light on this?

Thanks!

[2012-12-22 02:48] #67 closed, assigned to nobody

[2012-12-28 00:36] btubbs opened #68 "Document new assumptions from versions branch"
I am working on some buildpack-compatible tools that are broken after the recent changes.  The breakages center around the new requirement that Python be inside /app/.heroku/python.  When trying to create stubs in /app so the buildpack will at least run, I get "cp: cannot stat `/app/!(tmp)': No such file or directory".

Ideally the buildpack would make no assumptions about /app existing (the pre-D

[2012-12-28 14:05] #58 closed, assigned to nobody

[2013-01-03 02:52] #68 closed, assigned to nobody

[2013-01-03 19:28] thauber opened #70 "Looks like a typo in bin/compile"
I think

fp#!/usr/bin/env bash

should be
# !/usr/bin/env bash

[2013-01-03 19:29] #70 closed, assigned to nobody

[2013-01-11 04:42] nigma opened #72 "No CLEAN_VIRTUALENV?"
The handler for rebuilding virtualenv is gone from the compile script. What is the current method of purging virtualenv?

[2013-01-11 05:08] #72 closed, assigned to nobody

[2013-01-17 09:33] kennethreitz opened #74 "user-env-compile for custom S3 bucket"
for staging

[2013-01-21 17:21] azreda opened #76 "pip uninstall/removing packages does not work"
I know this issue has been raised multiple times, but it remains to exist.

Right now, the only way to force a rebuild of your virtualenv seems to be to set a different runtime: https://devcenter.heroku.com/articles/python-runtimes#changing-runtimes

But I don't want to change my python runtime just so that I can remove a tiny package that I have modified, and instead want to use from my source tr

[2013-03-06 12:52] nigma opened #77 "Please use explicit commit messages"
I'm going through the buildpack history trying to figure out at what point projects stopped to compile and if there were any changes related to pylibmc/libmemcached.

Having a clean commit log with messages explaining what actually has been changed and why would be great (and much more helpful than a stream of random _kill the source_, _better_, _remove bunk_, _much better_).

See http://ablogabou

[2013-03-06 14:36] #77 closed, assigned to nobody

[2013-03-21 20:46] emorikawa opened #79 "Build error: pip 1.3 -> No such file or directory"
I am using master head of the build pack and am getting the following error:

[code]

[2013-03-23 18:50] #79 closed, assigned to nobody

[2013-03-30 12:05] thekashifmalik opened #80 "Cannot Choose Requirements File"
Many projects have multiple individual deployments, such as dev, staging and production. Often these environments have different requirements.

Breaking up these requirements is easy to do locally but since the Heroku buildpack always uses the root _requirements.txt_ it's hard to do on Heroku, even with cascading.

Is there a way to do this? If not, is this something we could add?

[2013-03-30 13:06] thruflo opened #81 "Pip version is insecure."
Pip prior to version 1.3 used http to download from pypi http://www.pip-installer.org/en/latest/installing.html

As far as I can see from the commit log, the pip vendored into this buildpack is based on v1.2 and hasn't patched it to use ssl. Is there any reason not to update the vendored pip to use >= 1.3?

[2013-03-30 17:40] #81 closed, assigned to nobody

[2013-04-03 09:15] afaikafk opened #82 "Do not overwrite already specified paths with those set in config_vars"
Currently, only the PATH environment variable will preserve it's original value, and append any additional paths to itself in case they are defined in the bin/release script under config_vars. However, others, like LD_LIBRARY_PATH will simply be overwritten by the values specified in config_vars, so one has to copy the original values there as well (at the moment only '/app/.heroku/vendor/lib'). A

[2013-04-08 21:32] shoibalc opened #84 "push fails for python buildpack with pip 1.3.1"
[code]

Works with pip 1.2.1 (v16 of buildpack)

[2013-04-09 17:26] #80 closed, assigned to nobody

[2013-04-09 17:31] #84 closed, assigned to nobody

[2013-04-11 11:45] aljosa opened #87 "pre/post-compile hooks w/o using custom buildpacks"
would you be open to add support for something like:
$ heroku config:set BUILDPACK_PRE_COMPILE=custom_script.sh

which would enable custom actions on build time (like using "django-admin.py collectstatic" w/ use-env-compile labs feature) where $BUILDPACK_PRE_COMPILE script must exists in git repo.

this would remove requirement to create custom buildpack for simple stuff like mentioned collectstat

[2013-04-11 16:05] #87 closed, assigned to nobody

[2013-04-12 01:44] rhyselsmore opened #88 "Output from collectstatic"
When using S3 (or similar backends) for collectstatic, various issues can arise during deployment that are silenced, hence the user is unaware of issues.

I am proposing some form of environment variable (or flag) to output debug information from collectstatic. Can I get some discussion going around this feature implementation?

[2013-05-20 15:02] kennethreitz opened #92 "Change default python without changing existing python"

[2013-06-06 19:56] datajockey opened #94 "Purging .heroku/src as well?"
Hi, I just ran into a situation where I needed to reinstall a stale package in my virtualenv.  Eventually I came to a very round about way of solving the problem by [changing runtimes](https://devcenter.heroku.com/articles/python-runtimes#changing-runtimes).

In the process I realized that the buildpack does not purge source installations on runtime changes.  Should [bin/compile#L108](https://gith

[2013-06-21 08:12] sungmin-park opened #95 "Handle manage.py carefully or provide more verbose output."
I use manage.py for flask like django. Usually it will growth large. Eventually it will handle args properly.

[code]

This kind of codes make compile stage freeze **without any kind of information**.

[2013-07-09 19:24] jtushman opened #97 "support ssh in requirements.txt"
Hi awesome heroku python people.

would be great if we could:

[code]

using our uploaded key to access github via ssh

(sorry if this already possible -- but not working for us.  Right now we need to rely on basic auth -- and doesn't feel right to us -- we do not like having the username/password in source)

Thanks!

(for others: this is KR post on SO: http://stackoverflow.com/a/9136665/192791)

[2013-07-19 19:21] #97 closed, assigned to nobody

[2013-09-05 14:28] kvarga opened #106 "libraries for xmlsigning"
It would be great if this could include libxml, xmlsec libraries for scripts like pyxmlsec to use.

[2013-09-15 04:18] jasford opened #107 "Upgrade pip and distribute"
I have a repo that installs just fine locally, where I'm running these versions of pip and distribute:

[code]

When I install it to heroku using the buildpack, I run in to this error:

[code]

This seems to be caused by the [recent merge between distribute and setuptools](http://pythonhosted.org/setuptools/merge-faq.html). Since using the latest versions of both pip and distribute seems to resolv

[2013-09-26 19:49] devknoll opened #109 "collectstatic failure doesn't abort deployment"
If `collectstatic` is configured to run and fails while running, the deployment should probably be aborted.

[2013-10-17 18:36] #57 closed, assigned to nobody

[2013-10-17 19:26] x-goose-x opened #110 "Unable to deploy using this buildpack as of today."
When attempting to deploy my branch, the deployment fails like this:

[code]

I've attempted to roll back the app, to no avail, pulling the buildpack as of 018e0f31deaa9ad54ea5ed21cffab4a47a3bd43e  works fine.

[2013-10-17 19:55] #110 closed, assigned to nobody

[2014-02-16 05:01] patcon opened #119 "Using two-factor auth during compile phase?"
OK, so this is a shot in the dark, but what the heck.

For the Gittip project, we're thinking on how to distribute responsibility for deployments using Hubot. The catch is that @whit537 understandably wants to have last say over any deploy. The thought was that if, during deploy, some system would send him a text and wait on an affirmative reply, then that would be enough to let him feel comfortab

[2014-02-21 11:04] khamaileon opened #122 "Allow the installation of externally hosted files / insecure and unverifiable files"
https://discussion.heroku.com/t/could-not-find-a-version-that-satisfies-the-requirement-argparse-1-2-1/470/3

[2014-03-04 12:56] dessibelle opened #124 "LD_LIBRARY_PATH with heroku-buildpack-mutli"
I'm not quite sure this is an actual bug or if my there is something wrong with my setup, but I thought I'd create an issue anyway and let someone clever decide. I'd be happy to submit a pull request if this is in deed not the intended behavior.

Anyway, I'm using [heroku-buildpack-multi](https://github.com/ddollar/heroku-buildpack-multi) to combine heroku-buildpack-python with [heroku-buildpack-f

[2014-03-21 19:13] #107 closed, assigned to nobody

[2014-03-21 19:13] kennethreitz opened #125 "PIP_VERBOSE=1 config support"

[2014-03-21 19:48] kennethreitz opened #126 "Make "Checking for collectstatic validity" more clear"
Really important with user-env-arg.

[2014-04-02 18:05] #126 closed, assigned to nobody

[2014-04-06 02:49] michaelhenry opened #130 "Installing insecure and unverifiable python library using pip"
[code]

How to use `--allow-unverified` because? `--allow-all-external` in pip is working in my local but not in heroku.

Thanks,
Kel

[2014-04-06 22:48] #130 closed, assigned to nobody

[2014-04-21 18:49] kowsik opened #133 "Failing to compile Multipack app"
Using `https://github.com/ddollar/heroku-buildpack-multi` and have the following in my `.buildpacks`:

[code]

On the first git push, I'm getting the following error:

[code]

[2014-04-21 19:43] #133 closed, assigned to nobody

[2014-04-30 08:34] cclauss opened #134 "Is it possible to upgrade default setuptools to 5.4.1?"
Would it be possible/useful to upgrade the default [setuptools](https://pypi.python.org/pypi/setuptools) that this buildpack uses?

setuptools-5.4.1

[2014-05-12 09:36] cclauss opened #139 "Add support for Pypy 2.3.1"
[Pypy v2.3](http://pypy.org) was recently released and is a significant upgrade over previous releases. It would be great to have support for Pypy 2.3 in this buildpack.

[2014-05-22 15:35] fletom opened #142 "Popular cryptography library PyNaCl doesn't install."
If you add the package `PyNaCl` to your requirements and push to Heroku, the build fails.

[code]

[2014-05-27 16:30] kennethreitz opened #143 "Mysterious Collectstatic Bug"
Sometimes, collectstatic fails in production, even though it works perfectly in a 'herouk run' session. This shouldn't be the case.

 It appears as though there is a bug in the bash function that provides the environment variables to the 'collectstatic' step.

[2014-06-02 12:38] #143 closed, assigned to nobody

[2014-06-02 16:23] klinkin opened #145 "Buildpack is broken"
Current buildpack is not working for me:

[code]

[2014-06-02 20:29] #145 closed, assigned to nobody

[2014-06-18 20:11] dgouldin opened #153 "pylibmc is not detected in nested pip requirements files"
pylibmc requires libmemcached in order to be pip installed. There's a step which greps requirements.txt looking for pylibmc, but in the case where somebody is using a requirements hierarchy and referencing other requirements files from requirements.txt, we could fail to notice that pip will be installing pylibmc and thus break their build.

[2014-07-14 19:04] #142 closed, assigned to nobody

[2014-07-18 18:48] #139 closed, assigned to nobody

[2014-07-20 04:01] #134 closed, assigned to nobody

[2014-07-22 20:41] jayd3e opened #160 "decoder zip not available"
I'm using Pillow, and upon calling this line of code:

[code]

I'm receiving this error:

[code]

Does the heroku python buildpack support Pillow?

[2014-08-08 22:27] chrisclark opened #164 "Pylimbmc compilation error on deploy"
This appears to have introduced by https://github.com/heroku/heroku-buildpack-python/commit/16a07abd516446c09127c352c560eb9cc086f9fb#diff-d41d8cd98f00b204e9800998ecf8427e

Our team has also filed this ticket with Heroku directly (#128272). Submitting here as well so others experiencing the issue have visibility.

We are still able to deploy to production because the pip requirement is already sati

[2014-08-13 04:27] paxan opened #166 "pip-diff crashes during pip-uninstall step"
When pushing a new commit to a Heroku remote, I see the following stack trace from `pip-pop`:

[code]

The buildpack seems to ignore this error, and the build moves on. But I wonder if I might have uncovered some bug either in `pip-pop` or `pip` or this buildpack.

Here are some details that might help to reproduce this issue.

`setup.py` that looks like this:

[code]

All packages, that we use, a

[2014-08-18 07:27] markns opened #167 "--allow-all-external and --allow-unverified in requirements.txt cause exception"
Use of the --allow-all-external and --allow-unverified pyodbc cause the following exception when running the buildpack, I believe because a pip `PackageFinder` is not being passed to the parse_requirements method.

[code]

[2014-08-22 01:37] #166 closed, assigned to nobody

[2014-08-22 12:55] #167 closed, assigned to nobody

[2014-08-22 12:56] #109 closed, assigned to nobody

[2014-08-22 12:57] #124 closed, assigned to nobody

[2014-08-22 12:58] #106 closed, assigned to nobody

[2014-08-22 12:58] #94 closed, assigned to nobody

[2014-08-22 12:59] #88 closed, assigned to nobody

[2014-08-22 12:59] #119 closed, assigned to nobody

[2014-08-22 12:59] #95 closed, assigned to nobody

[2014-08-22 12:59] #74 closed, assigned to nobody

[2014-08-22 12:59] #76 closed, assigned to nobody

[2014-08-22 13:00] #125 closed, assigned to nobody

[2014-08-22 13:00] #153 closed, assigned to nobody

[2014-08-22 13:00] #92 closed, assigned to nobody

[2014-08-22 13:00] #82 closed, assigned to nobody

[2014-08-22 13:01] #122 closed, assigned to nobody

[2014-08-22 15:45] #164 closed, assigned to nobody

[2014-09-12 15:36] markbarks opened #169 "buildpack compatible with centos"
I've been trying to run the buildpack in a centos docker container, however each time the pip install line is called I get errors about missing security library files.

[code]

OpenSSL is installed correctly in the image:

[code]

I have tried hacking the LD_LIBRARY_PATH into the script, to no avail. Any clues what I could be doing wrong? Is there a better place to ask for advice rather than raisi

[2014-09-12 17:54] terite opened #170 "travis tests fail all the time"
[code]

Travis is hooked up but there's no travis file. :(

[2014-09-26 02:54] alex opened #171 "Add support for PyPy 2.4.0"

[2014-09-26 14:42] dulaccc opened #173 "No more tests"
Just wondering why [you've removed all the tests](https://github.com/heroku/heroku-buildpack-python/commit/d3f83517448ab073334a97e28c823ae3955f312b) ? I'm kind of missing them.

Cheers

[2014-10-12 14:57] #171 closed, assigned to nobody

[2014-10-18 10:37] peterfarrell opened #179 "Value of DISABLE_COLLECTSTATIC not used?"
It appears that even if you set `DISABLE_COLLECTSTATIC=0` that the buildpack continues to not run `collectstatic`.  The only way I've found to go back is to remove the config var entirely using `heroku config:remove DISABLE_COLLECTSTATIC`.

It seems counter intuitive that it is only looking for the mere existence of `DISABLE_COLLECTSTATIC` to determine if `collectstatic` is disabled.

Shouldn't th

[2014-11-04 23:07] chendrix opened #181 "python-2.7.8-shared is not actually shared"
The [python-2.7.8-shared runtime](https://github.com/heroku/heroku-buildpack-python/blob/master/builds/runtimes/python-2.7.8-shared) is not actually configured with `--enable-shared`

[2014-11-15 11:14] cclauss opened #183 "No support for Pypy3 v2.4.0"
See https://github.com/heroku/heroku-buildpack-python/pull/180

[2014-12-01 10:22] d0ugal opened #186 "Strip whitespace in the runtime.txt file"
Any extra whitespace will cause the build to fail. This issue came up at the Djangogirls Edinburgh workshop and caused confusion for a while.

[2014-12-22 22:40] #183 closed, assigned to nobody

[2014-12-22 22:40] #181 closed, assigned to nobody

[2014-12-23 01:53] HanSooloo opened #188 "cryptography step checks for non-existent libffi directory"
The `cryptography` step of the compilation process checks the existence of the `lib\libffi-xyz` directory before downloading and extracting the package.

**Observed Result:**
However, since the check is made to a never-existing directory-versionnumber, this step keeps re-downloading and re-extracting the package.

**Expected Result:**
* Verify what libffi directory version number should be checked

[2014-12-31 18:50] sebasmagri opened #190 "Bundled sqlite3-3.7.9 is not compatible with Ubuntu 14.04's GDAL"
I'm having some issues with gdal on a 14.04 based image running a GeoDjango app with dokku.

It complains about `sqlite3_column_database_name` not being defined. I compared the symbols from the system wide libsqlite3 inside the container and the symbols from the bundled sqlite3 and such function is missing:

    root@2fdfab92c524:/# objdump -TR /app/.heroku/python/lib/libsqlite3.so.0.8.6 | grep sq

[2015-01-02 17:07] sebasmagri commented on #190
@michaelshobbs I wrongly bugged the gdal maintainers in Ubuntu and you can find details on:

https://bugs.launchpad.net/ubuntu/+source/gdal/+bug/1406679

[2015-01-05 23:21] ErikEvenson opened #191 "TypeError: PackageFinder() missing 1 required keyword argument: 'session'"
[code]

[2015-01-06 11:48] watsontom100 commented on #191
Also getting this error. Using a multi-buildpack and only started getting it today.

It continues after this error but then later I get a pylibmc install error as well with no changes to requirements.txt.. so seems related.

[2015-01-06 13:04] tomdickin commented on #191
I just started getting it, also using multi-buildpack.

For me the build continues but then fails with 'failed to run repack'. Not sure if the eventual failure is related though.

@watsontom100 You just keep popping up everywhere! We use pylibmc btw, but we had no failure when it came to installing that.

[2015-01-06 17:37] tomdickin commented on #191
Just now tried a build again, this time it decided it did need to install pylibmc after all, which completely failed (looks like the vendored libmemcached wasn't installed nor the need for it detected -- even though pylibmc is in the root/only requirements.txt)

pylibmc failed to install in addition to the above error occurring, though 'helpfully' this went on and released the now broken app.

[2015-01-06 17:47] ErikEvenson commented on #191
I am using multi-buildpack too with the above trace.

[2015-01-06 18:43] kennethreitz commented on #191
Fixed!

[2015-01-06 18:43] #191 closed

[2015-01-06 19:33] dz0ny opened #192 "Issues with PIP"
=====> Downloading Buildpack: https://github.com/heroku/heroku-buildpack-python.git
=====> Detected Framework: Python
Traceback (most recent call last):
  File "/tmp/buildpackLuGUb/vendor/pip-pop/pip-diff", line 114, in <module>
    main()
  File "/tmp/buildpackLuGUb/vendor/pip-pop/pip-diff", line 109, in main
    diff(**kwargs)
  File "/tmp/buildpackLuGUb/vendor/pip-pop/pip-diff", line 81, in dif

[2015-01-06 19:42] wenzou commented on #192
Same here

[2015-01-06 20:07] dz0ny commented on #192
FYI Pinning buildpack to stable tag solves the problem. So it's definitely something with pip, setuptools upgrade.

```https://github.com/heroku/heroku-buildpack-python.git#v54```

[2015-01-06 20:11] kennethreitz commented on #192
This bug should have been resolved earlier today. Is this occurring right now?

[2015-01-06 20:29] dz0ny commented on #192
Yep, fresh builds are failing

[2015-01-07 17:59] ErikEvenson commented on #191
Fix worked for me -- thanks!

[2015-01-09 16:43] kennethreitz commented on #192
@dz0ny can you try again? A new version has been pushed that has new pip/setuptools. I suspect this is a bug in their codebases.

[2015-01-09 18:24] #192 closed

[2015-01-09 18:29] kennethreitz commented on #179
This is a pretty common bash-ism.

[2015-01-09 18:29] #179 closed

[2015-01-09 18:30] kennethreitz commented on #173
Removed to simply the codebase — they didn't actually accomplish much as they were, and were causing some problems.

[2015-01-09 18:30] #173 closed

[2015-01-09 18:30] #170 closed

[2015-01-09 18:30] kennethreitz commented on #169
This is out of scope.

[2015-01-09 18:30] #169 closed

[2015-01-09 18:31] #160 closed

[2015-01-09 18:53] maestrofjp commented on #179
I realize it's a common bash-ism, but it's caught a few of my developers off because they thought it looked like it would act like boolean and therefore thought it would work that way. I'm sure that we're not the only people that have been caught off guard by it.

The reason I brought it up is that while it's bash under the hood -- it's not evident to think it's bash from the Heroku CLI or if you

[2015-01-10 01:52] dulaccc commented on #173
thanks for the precision :)

[2015-02-10 11:41] tardyp opened #197 "pypy support"
It looks like there is an access denied on pypy runtime:
http://lang-python.s3.amazonaws.com/cedar/runtimes/pypy-2.4.0

Moreover, pypy 2.5.0 has been out for some time now.

Please enable faster python on heroku. :)

[2015-02-10 23:57] caiofbpa opened #198 "Django i18n support (compilemessages)"
Currently we have to commit .mo files in Django in order to have the production environment working with i18n, and that sucks a lot. The ideal way would be to commit only the .po files and have the buildpack compile them into .mo files for us.
When I have some spare time I can try to work on a pull request for this.

[2015-02-11 22:47] kennethreitz opened #199 "ENABLE_COLLECTSTATIC_FAILURES"
or something similar.

This is in reference to https://support.heroku.com/tickets/214019

[2015-02-16 01:38] pnpnpn opened #200 "Conda support"

[2015-02-17 17:43] cclauss commented on #186
from: http://stackoverflow.com/questions/4109589/remove-all-whitespaces-in-a-file-linux

tr -d ' \t\n\r\f' <runtime.txt >runtime.txt  # ???

[2015-03-05 11:22] kennethreitz commented on #200
https://github.com/kennethreitz/conda-buildpack

[2015-03-05 11:22] #200 closed

[2015-03-06 00:14] milieu commented on #199
@kennethreitz I think that link is inaccessible to people not party to that support ticket.

[2015-03-11 08:05] diwu1989 opened #201 "Memcached provider showing error 40: FAILED TO SEND AUTHENTICATION TO SERVER, no mechanism available"
I'm seeing the same problem as described in:
http://stackoverflow.com/questions/27837326/memcachier-add-on-for-cloudcontrol-is-failing

It occurs on both memcachier and memcachedcloud and I get errors like:
[code]

Do you know any way to fix the libmemcached that's included in the dyno?

[2015-03-11 08:10] diwu1989 commented on #190
strongly second bumping up the version of Sqlite to the latest

[2015-03-12 15:09] brizjin opened #202 "pypy-2.5.0"
Please, add support of pypy 2.5.0

[2015-03-17 20:32] MechanisM opened #205 "PIP requirements file names"
Someone else calls pip's requirements file as "requirements.pip"? I've seen a few django-projects with same naming, and doing this by myself, but heroku's python buildpack only reads requirements file with .txt extension. "requirements.pip" - more intuitive, and I'm always using this name for pip requirements files. Please, add an option to be able to use "requirements.pip". I'm sure, I'm not alon

[2015-03-18 19:39] kennethreitz commented on #205
Thanks for the feedback! We're sticking to `requirements.txt` at this time, however. Thanks!

[2015-03-18 19:39] #205 closed

[2015-03-30 16:03] kennethreitz opened #209 "Advanced Django Detection"
Currently, the buildpack just checks for a `manage.py` file before proceeding with Collectstatic support. Now that we have advanced `requirements.txt` detection, it would be much better to also check for Django as a dependency.

[2015-03-31 09:16] icoxfog417 opened #210 "Numpy depended libraries (scipy) cause error"
I faced the error when installing the `scipy`.
This error doesn't cause in local, and it haven't caused until merging the commits after 0382c31225344eabc7c0f66bf81eb4da332fea5f.

(I created the [buildpack for statistic libraries](https://github.com/icoxfog417/heroku-buildpack-python) and it worked fine until merging).

[code]

Above error means that the python code can not resolve relative import

[2015-04-01 18:38] kennethreitz commented on #210
SciPy is not supported. It requires a number of system dependencies that are not available on Heroku.

You can, however, use this experimental anaconda buildpack:

https://github.com/kennethreitz/conda-buildpack

[2015-04-02 02:07] icoxfog417 commented on #210
Thank you for telling me the anaconda buildpack. It is very useful to do it.

The cause of error was [version up of heroku cedar](https://devcenter.heroku.com/articles/cedar).
I changed the dependency and it works fine. Thank you.

[2015-04-02 08:06] #210 closed

[2015-04-04 18:25] antonagestam commented on #209
@kennethreitz Wouldn't you still need `manage.py` to run `collectstatic`?

[2015-04-05 02:47] kennethreitz commented on #209
Nothing will change about the usage of `manage.py`... we just won't attempt to run collectstatic if Django isn't a dependency.

[2015-04-17 12:56] kennethreitz opened #214 "update to latest pip"
will be interesting to see how the new installation progress bars play nicely with git.

[2015-04-22 16:14] beechnut commented on #169
I was getting [the same error](https://gist.github.com/beechnut/686d58aa8b65d50bae02) deploying to Dokku using v33, but using the latest version of the buildpack (as of 22 Apr 2015) appears to resolve it.

[2015-04-26 22:38] blueyed commented on #80
It (probably) only works when specifying the build-pack explicitly, otherwise the python buildpack will not detect the it in the first place.

[2015-04-27 01:53] blueyed commented on #209
@kennethreitz

What detection are you referring to?
The detection of changed dependencies or the file itself?

[2015-04-27 21:35] kennethreitz commented on #209
we can now intelligently check to see if a package was requested to be installed

[2015-04-27 21:48] cclauss commented on #209
https://github.com/bndr/pipreqsis highlights an interesting trend of auto-generating the `requirements.txt` by doing analytics on a project's import statements.

[2015-04-27 21:54] cclauss commented on #209
https://github.com/bndr/pipreqs highlights an interesting trend of auto-generating the `requirements.txt` file by running analytics on the project's import statements.

[2015-04-27 22:01] cclauss commented on #202
This one can be closed.  https://github.com/heroku/heroku-buildpack-python/blob/master/builds/runtimes/pypy-2.5.1

[2015-04-27 22:02] cclauss commented on #197
This one can be closed.  https://github.com/heroku/heroku-buildpack-python/blob/master/builds/runtimes/pypy-2.5.1

[2015-04-28 17:07] #202 closed

[2015-04-28 17:08] #197 closed

[2015-04-29 11:54] amgad-naiem opened #219 "numpy package not working"
adding `numpy==1.9.2` to the requirements.txt just hangs when deploying on  `Running setup.py install for numpy` and finally the push is rejected

[2015-04-29 20:32] ryanhiebert commented on #209
`manage.py` is a small script, with almost no value. It's sole value is in setting the `DJANGO_SETTINGS_MODULE` environment variable. Otherwise, everything can be done by `django-admin`.

It doesn't mesh well with the general idea of Heroku not liking any environment variables available at build time, but I like the idea of checking if `DJANGO_SETTINGS_MODULE` is in the environment and `Django` is

[2015-04-30 11:36] kennethreitz commented on #209
`DJANGO_SETTINGS_MODULE` should never need to be set — there should be one and only one settings file for your Django application.

[2015-04-30 13:28] ryanhiebert commented on #209
`DJANGO_SETTINGS_MODULE` _is_ required, since we don't know what that settings file is. It just happens that the `manage.py` is where it is typically set. I agree that it shouldn't be required in many Heroku apps, I only present it as a reasonable alternative to having a `manage.py` in the repository.

I also don't think that in the general case there should be one and only one settings file. I ha

[2015-05-04 18:54] kennethreitz commented on #214
done!

[2015-05-04 18:54] ryanhiebert commented on #214
:+1:

[2015-05-04 18:54] #214 closed

[2015-05-07 23:16] mietek opened #221 "Downloading dependencies is very slow and causes timeouts"
Should it really take 5 minutes to download a 50MB file?

Example build log:
[code]

[2015-05-08 00:47] xblitz commented on #198
+1 for this!

[2015-05-16 16:30] alimony opened #223 "collectstatic fails when running as part of a multipack"
When this Python buildpack is part of a multipack, anything depending on a `PATH` modified by previous entries in the `.buildpacks` file seems to fail. An example is `collectstatic` failing because it needs a `node` binary (to run e.g. `yuglify`) but can't find it since it lives in a randomly named `/tmp/*` directory created when building `node` in a previous node buildpack step.

See [this issue]

[2015-05-16 20:44] hakanw commented on #223
This means that django-pipeline is not possible to set up on Heroku, which is how we found this bug. Because django-pipeline uses nodeJS for e g LessCSS, uglify-js and other things. And the easiest way to set up nodejs + django is a .buildpacks file with nodejs and python buildpacks together.

[2015-05-18 21:31] pahaz opened #224 "`deep-cp` raise permission denied"
Using a `deep-cp` command as an unprivileged user causes an error.
Other buildpacks do`t use `deep-cp` like command. Is it realy necessary to use?

I knew about $DOCKER_BUILD (https://github.com/heroku/heroku-buildpack-python/blob/docker/bin/compile#L70-L86) this helpfull for me, but not included in master, why?

My build log:

    addgroup --quiet --gid 23169 u23169
    adduser --shell /bin/bash

[2015-05-26 07:25] eroninjapan commented on #33
Is modifying runtime.txt, deploying, reverting runtime.txt still the best method to accomplish purging the cached dependencies? I tried using the Heroku Repo plugin's purge_cache command but it's not working as expected.

[2015-05-27 17:27] kennethreitz commented on #33
Packages are now automatically uninstalled when removed from requirements.txt

[2015-05-27 17:56] cclauss opened #225 "Python 2.7.10 is not yet supported"
We need a file https://github.com/heroku/heroku-buildpack-python/blob/master/builds/runtimes/python-2.7.10 to support https://www.python.org/downloads/release/python-2710/

[2015-05-27 23:47] kennethreitz commented on #225
Yes it is :)

[2015-05-27 23:47] #225 closed

[2015-05-29 09:59] d0ugal commented on #186
These options look reasonable. @kennethreitz thoughts?

[2015-06-01 23:21] jlaxson opened #228 "Vendored GDAL isn't built with gdal_array"
I love the step of including the vendored binary right in the main buildpack, but when I try to `import osgeo.gdal_array` (which I don't do directly, but happens when calling `raster_band.ReadAsArray()`, I get an error:
[code]

It appears that building the _gdal_array.so extension (which facilitates interacting with numpy) is an optional step that wasn't done with the current prebuilt binaries.  W

[2015-06-02 02:59] kennethreitz commented on #228
Great feedback, thanks!

[2015-06-02 06:52] cclauss opened #229 "Pypy v2.6 is not yet supported"
We need a file https://github.com/heroku/heroku-buildpack-python/blob/master/builds/runtimes/pypy-2.6.0 to support http://morepypy.blogspot.fr/2015/06/pypy-260-release.html or http://doc.pypy.org/en/latest/release-2.6.0.html

[2015-06-02 17:35] samuelcolvin opened #230 "Pip except when upgrading from v52 > v60"
We're using heroku-buildpack-multi and therefore specify the version of the python build pack we want in `.buildpacks`.

Until now we've been using v52 (it was the latest version) when we last worried about this, and we're now trying to upgrade to v60.

We get the following error when attempting to push with `v60`:
[code]

`.buildpacks` is just:
[code]
(we've been meaning to have the node buildpac

[2015-06-02 17:42] samuelcolvin commented on #230
ok, definitely something weird going on with v60, I've just gone back to v59 and push/deploy went fine.

[2015-06-03 19:28] jayd3e opened #231 "Installing requests[security] is failing"
We have been using requests for a while in our app, and now recently found some situations where error messages were getting logged due to not having the correct environment for SSL.  So we started using requests[security].  Deploys started failing after that with the following message:

[code]

After finding this PR https://github.com/heroku/heroku-buildpack-python/pull/172/files, I added `cffi`

[2015-06-04 14:05] samuelcolvin commented on #230
bump. Anyone? If Heroku's python build pack really does have a bug I'm kind of amazed no one has responded to this.

[2015-06-04 23:42] kennethreitz commented on #231
Hello,

In order to use `requests[security]`, you also have to have "cryptography" or "libffi" in your `requirements.txt` file.

[2015-06-04 23:42] #231 closed

[2015-06-04 23:43] kennethreitz commented on #229
<3

[2015-06-04 23:49] kennethreitz commented on #229
done!

[2015-06-04 23:49] #229 closed

[2015-06-05 23:17] cyx commented on #230
Hi,

I'm trying to reproduce this issue with the vanilla getting started app and couldn't. Would you be able to share your requirements.txt?

[2015-06-08 11:04] samuelcolvin commented on #230
https://gist.github.com/samuelcolvin/24ed2c64af13eaa1497c

[2015-06-08 16:13] lukasklein opened #233 "Support for Django migrations"
I was wondering why there is support for Django's `collectstatic`, but none for `migrate`. Is it, since the `migrate` command is built into Django only from version 1.7?

I couldn't find any references in previous issues / discussions, so I started building support for it here: https://github.com/lukasklein/heroku-buildpack-python/commit/e02629145c794ee2420a7f7713f76eb1fa66402d

Though I'm a bit s

[2015-06-09 17:34] #201 closed

[2015-06-09 20:50] ltvolks opened #234 "Update changelog for tagged versions"
For those of us pinning to tagged versions (e.g. for use with multi-buildpack or because we want to avoid surprises), an up-to-date changelog, including previous changes, would be very helpful.

The [Ruby buildpack](https://github.com/heroku/heroku-buildpack-ruby/blob/master/CHANGELOG.md) sets a good example.

[2015-06-21 17:05] kennethreitz commented on #234
This was started for [v60](https://github.com/heroku/heroku-buildpack-python/blob/master/Changelog.md).

[2015-06-21 17:06] #234 closed

[2015-06-22 18:23] mtford90 commented on #223
In the meantime you can place the following in `bin/post_compile` to make node available:

[code]

For example my Django project currently has the following post_compile script:

[code]

[2015-06-22 20:02] mfenniak commented on #233
Hey @lukasklein, I'm not a developer on this project, but just saw your issue and wanted to comment.  There might be an argument not to support the Django migration automatically in the buildpack.

The buildpack runs once Heroku finds your git modifications, and then it creates a slug that is distributed to other application servers.  This might not be the right time to run DB migrations.  If you

[2015-06-24 04:36] kennethreitz commented on #233
What @mfenniak said :)

It would be much better to provide an official way to enable a user to do this themselves without modifying the build pack.

There's a little secret feature of the Python buildpack: if you add a `bin/post_compile` script, it will be run inline with the rest of the buildpack. This only works with the Python buildpack, however.

[2015-06-24 09:47] lukasklein commented on #233
Ahh I see, thank you very much for the clarification :)

The `bin/post_compile` script looks promising and just like what I need for my case.

[2015-06-24 09:47] #233 closed

[2015-07-20 11:51] alex opened #236 "Don't run pip with --allow-all-external"
This was intentionally moved away from being pip's default because it's a performance, maintainability, and security nightmare.

[2015-07-22 14:48] kennethreitz commented on #236
At the time, this was added for compatibility reasons. May be time to re-evaluate.

[2015-07-23 13:12] milest commented on #198
+1

[2015-07-23 17:46] stickywes commented on #199
Link doesn't work anymore.

[2015-07-23 17:57] stickywes opened #237 "Collectstatic dry run failures need to be more informative"
I recently ran into a problem where, after pushing to Heroku, the collectstatic step would fail.

The behavior in the collectstatic step when the dry run fails is to recommend running the command.
[code]
However, this is not always the way to diagnose the problem.  I was stuck with a website that suddenly broke after a buildpack update because the dry run failed, but 'heroku run python $MANAGE_FIL

[2015-08-07 00:06] dtran320 commented on #237
@stickywes Currently trying to debug this exact issue.
[code]
Runs fine, but deploying always fails with:
[code]

[2015-08-07 00:08] dtran320 commented on #237
Ah, looks like my issue is due to https://github.com/heroku/heroku-buildpack-python/issues/223

[2015-08-07 20:32] kennethreitz commented on #237
@stickywes I really like the idea of something like this:

    $ collectstatic --dry-run --noinput &> ~/.heroku/python/collectstatic-log

[2015-08-07 21:05] stickywes commented on #237
@dtran320 Sorry for the late respond; my issue was related to the Geo Django buildpack and some strangeness happening because of [a change to how it was determining paths] (https://github.com/dulaccc/heroku-buildpack-geodjango/issues/4#issuecomment-116769175).  Glad you figured out your underlying cause!

@kennethreitz I can toss at pull request your way; do you think (off the top of your head) th

[2015-08-14 02:06] alex commented on #236
At this point it's not needed for basically any packages on PyPI, not sure if there are other important usecases for heroku.

[2015-08-28 11:25] swils opened #243 "Impossible to get runtime with shared library on heroku?"
I need to get a version of Python working with shared library support. I've tried a number of things:

  * Use this `heroku-buildpack-python` and specified `python-2.7.8-shared` in `runtime.txt`. This gives me 2.7.8 allright. But in `/app/.heroku/python/lib` I still find `libpython2.7.a`, so it's useless.
  * Specify the other "official" shared release: `python-2.7.7-shared`. Gives me an error mes

[2015-08-28 11:39] swils commented on #243
ah found builds/README.md
never mind

[2015-08-28 11:39] #243 closed

[2015-08-29 06:45] steko commented on #219
I am still seeing a similar problem, and unable to deploy a numpy-based application.

[2015-09-15 17:47] joshfriend opened #246 "Support Python 3.5"
https://www.python.org/downloads/release/python-350/

[2015-09-16 06:10] cclauss opened #247 "Support for Pypy v2.6.1"
http://morepypy.blogspot.ch/2015/08/pypy-261-released.html

[2015-09-16 06:27] cclauss opened #248 "Pip v7.1.2 and Setuptools v18.3.2"
* https://pypi.python.org/pypi/pip
* https://pypi.python.org/pypi/setuptools

[2015-09-19 09:23] youtux commented on #246
+1

[2015-09-21 21:52] fabiocerqueira opened #249 "Support private dependencies"
Added support to private repositories in requirements.txt

If there is a way to add private keys in heroku, we can use "deploy keys" on github.

e.g.:
`-e git+ssh://git@github.com/fabiocerqueira/my_private_repo.git@0.1.0#egg=my_private_repo`

[2015-09-21 22:57] fabiocerqueira commented on #249
My workaround for this problem is use a `bin/pre_compile` script. This solution was proposed in #97.

[2015-09-25 10:44] zupo commented on #246
+1

[2015-09-28 01:48] klinkin commented on #246
+1

[2015-09-28 03:18] cclauss commented on #246
Hi @klinkin, @zupo, @youtux instead of +1-ing the issue (problem), it would be help us to make progress if you could validate and the +1 the [pull request](https://github.com/heroku/heroku-buildpack-python/pull/250) (proposed solution).  Thanks.

[2015-09-28 10:27] youtux commented on #246
Hi @cclauss, how am I supposed to test it? I tried to set the buildpack using:
[code]

But I get the following error, probably due to the fact that the compiled `python-3.5.0` is not available on the heroku servers:
[code]

[2015-10-01 12:25] edmorley commented on #233
If using `bin/post_compile` for operations that touch external resources, be aware of the caveats mentioned here:
https://discussion.heroku.com/t/django-automaticlly-run-syncdb-and-migrations-after-heroku-deploy-with-a-buildpack-or-otherwise/466/8

Heroku are in the process of adding something that will fit this use case however, see:
https://github.com/heroku/heroku-buildpack-postrelease

[2015-10-01 12:43] edmorley opened #252 "Avoiding compile time penalty from `collectstatic --dry-run`"
Currently, if a `manage.py` file is present and `DISABLE_COLLECTSTATIC` is not defined, then the buildpack runs collectstatic twice - once with `--dry-run` and then again for real:
https://github.com/heroku/heroku-buildpack-python/blob/ce3bdb37bafa3f56c54346d28ee5ef138cbc1893/bin/steps/collectstatic#L16-L32

In order to avoid this time penalty, I've seen blog posts suggesting people set `DISABLE_C

[2015-10-08 14:58] kennethreitz commented on #246
fixed!

[2015-10-08 14:58] #246 closed

[2015-10-08 16:52] jhorman opened #254 "v64 seems to not include python/bin in PATH"
After deploying this morning, my `/app/.heroku/python/bin/` was no longer in path. Or, I should say, an executable we use on heroku for db migrations `arnold` was no longer available. We rolled back quickly, so I am not sure if `arnold` was not installed properly, or if `bin` was no longer in path. Changing our buildpack back to https://github.com/heroku/heroku-buildpack-python.git#v62 seemed to f

[2015-10-08 16:54] jhorman commented on #254
Actually, I believe `gunicorn` also wasn't found, based on the papertrail logs.

[2015-10-08 17:03] danvk commented on #254
Thanks for filing this. I was incredibly confused why my new Python Heroku app wasn't working this morning.

Running

    heroku buildpacks:set 'git://github.com/heroku/heroku-buildpack-python.git#v62'

did the trick.

[2015-10-08 17:06] santiagomalter commented on #254
I was experiencing the exact same issue... :+1: @danvk

I think I will always fix the tag in the buildpack urls next time.

[2015-10-08 17:15] MrWeeble commented on #254
We also had a problem - we use a multipack which includes the python buildpack, but it appears that if failed to install newrelic from our requirements file. Since newrelic-admin is the command that runs as the web process in the Procfile, this meant that it would not even boot up.

Changing the URL in the .buildpacks file to append '#62' to the python URL resolved this for us.

[2015-10-09 14:09] kennethreitz commented on #254
this was reverted almost immediately because of this. There's a new attempt being formed in the `multi` branch, if anyone wants to test!

[2015-10-09 14:09] #254 closed

[2015-10-09 14:10] kennethreitz commented on #248
fixed!

[2015-10-09 14:10] #248 closed

[2015-10-09 14:10] kennethreitz commented on #247
fixed!

[2015-10-09 14:10] #247 closed

[2015-10-15 22:02] darklow opened #256 "Caching stopped unless you remove cache/.heroku dir"
Not sure why, but caching of pip installed apps stopped working for me.
Every time i deployed with dokku all the apps where installed as new.
Maybe because of this pull request https://github.com/heroku/heroku-buildpack-python/pull/255 ?
When I deleted `.heroku` dir caching started working again.
Not an issue anymore, but just as a note for somebody else who might run into same problem.

[2015-10-15 22:18] kvarga opened #257 "libxmlsec1 support"
Has anyone got libxmlsec1 to work on heroku cedar-14 with python libraries (dm.xmlsec.binding specifically)?

[2015-10-22 22:05] kvarga commented on #257
I updated my code and call xmlsec through Popen instead of using a library like dm.xmlsec.binding .

I used buildpack: https://github.com/jmorrice/heroku-buildpack-xmlsec

I'd still like to be able to use a python library for this, but alas, its fixed before cedar-10 is retired.

Closing.

[2015-10-22 22:05] #257 closed

[2015-10-22 22:21] rnazrati commented on #198
+1

[2015-10-22 22:45] jasonpstewart commented on #257
Sorry I'm late to this - we did a multi buildpack with https://github.com/heroku/heroku-buildpack-apt

with Aptfile that includes:
[code]

Then, we had to modify the python buildpack's bin/compile file to add the apt directories so that pip (swig) would link with the appropriate libraries:

[code]

Our fork is here: https://github.com/skilljar/heroku-buildpack-python

(I didn't PR this into the ma

[2015-11-02 15:03] DylanLukes commented on #190
Bumping the version doesn't solve the problem. Even bumped (as in my fork) to 3.8.6, the column metadata APIs (such as `sqlite3_column_table_name` and `sqlite3_column_database_name` won't be included.

The fix should be adding the `-DSQLITE_ENABLE_COLUMN_METADATA` flag.

[2015-11-05 16:07] sibeliusseraphini commented on #256
:+1:

[2015-11-06 03:57] ygao2008 commented on #246
Hi @kennethreitz
I'm still getting the same error, do you know why? I'm using the free tier of Heroku if that makes any difference.

(venv) git push heroku master
Counting objects: 20, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (15/15), done.
Writing objects: 100% (20/20), 3.88 KiB | 0 bytes/s, done.
Total 20 (delta 0), reused 0 (delta 0)
remote: Compressing source fi

[2015-11-06 14:31] joshfriend commented on #246
@ygao2008 have you tried not capitalizing "python" in `runtime.txt`?

e.g:
[code]

[2015-11-07 06:21] ygao2008 commented on #246
@joshfriend
That was it! It worked after changing to lowercase. Thank you so much!

[2015-11-12 23:19] craigkerstiens opened #258 "Enhance readme"
Update description to call out that the buildpack supports running Django apps.

[2015-11-12 23:19] craigkerstiens commented on #258
/cc @nsamsami

[2015-11-18 19:53] #258 closed

[2015-11-20 03:15] dstufft commented on #236
pip 8 (the next version) is going to complete no-op this flag, and PyPI is going to get rid of them when the new site launches.

[2015-11-21 11:08] techtonik opened #261 "Support vendorized dependencies"
To speed up deployment (#221) and secure installs, Heroku need ability to install libraries shipped with application. See
https://github.com/gratipay/inside.gratipay.com/blob/dd1491f2684bdb3c5193d5438e37056b47b38196/Makefile#L16 and
https://github.com/gratipay/inside.gratipay.com/tree/dd1491f2684bdb3c5193d5438e37056b47b38196/vendor

[2015-11-22 14:44] edmorley commented on #261
I don't think using a vendor directory in your repo is the best fix for this.

Timeouts during first install should be fixed regardless, and slow subsequent installs shouldn't happen due to the Heroku build cache (if the packages aren't being cached, that's a bug).

As for security - the best approach is either [peep](https://github.com/erikrose/peep) (for pip <= v6.x) or once pip v8 is released,

[2015-11-22 16:52] techtonik commented on #261
I'd like to have repeatable installs. For example, if we don't have a package on PyPI yet, Heroku fails. Or we need to specify full path in requirements, which will fail for system-dependent packages.

[2015-11-22 19:48] edmorley commented on #261
In this case, don't use the package name, but one of the other supported [requirement specifiers](http://pip.readthedocs.org/en/stable/reference/pip_install/#requirements-file-format) to point at either a local path, VCS location, or even GitHub's auto-generated archives ([example](https://github.com/kennethreitz/requests/archive/6506dc8f66a3fa82085e9d2e37d6f45d07345b80.zip)).

[2015-11-22 22:15] techtonik commented on #261
@edmorley this doesn't allow to specify binary packages.

[2015-11-23 23:16] edmorley commented on #261
Do you mean python packages that require compilation, but for which the necessary system libraries aren't available? If so, it sounds like the conda buildpack (see https://devcenter.heroku.com/articles/python-c-deps) is what you need. Alternatively, ask the package maintainers to provide wheel distributions.

[2015-11-24 10:46] techtonik commented on #261
`conda` looks like a whole separate toolchain. I don't want to increase the complexity.

[2015-12-01 11:21] awhillas commented on #246
nope. Still getting this error :( My runtime.txt looks like:

	python-3.5.0

[2015-12-01 11:24] awhillas commented on #246
Full error is:

	$ git push heroku master
	Counting objects: 8, done.
	Delta compression using up to 4 threads.
	Compressing objects: 100% (7/7), done.
	Writing objects: 100% (8/8), 803 bytes | 0 bytes/s, done.
	Total 8 (delta 6), reused 0 (delta 0)
	remote: Compressing source files... done.
	remote: Building source:
	remote:
	remote: -----> Using set buildpack heroku/python
	remote: -----> Python

[2015-12-01 15:06] sibeliusseraphini commented on #256
:+1:

[2015-12-01 16:36] knukko commented on #223
Any news on this? Do I have to fork the python buildpack to get this working or is there any other workaround?

[2015-12-01 19:49] joshfriend commented on #246
@awhillas check `runtime.txt` again, the buildpack logs you posted clearly say that you requested `python-3.5` instead of `python-3.5.0`.

[2015-12-01 21:25] kennethreitz commented on #261
You can specify paths in a `requirements.txt` file to point to a package contained within your repo.

[2015-12-01 23:44] awhillas commented on #246
Nope, i'm sure it was `python-3.5.0`. I switched it back to `python-2.7.9` and I'm still getting the same error :( I'm going to kill the project and start again.

[2015-12-02 09:16] vesterbaek opened #263 "Only prepend to PKG_CONFIG_PATH"
I need to install the pyav python package. pyav requires ffmpeg, so I'm using a buildback that provides ffmpeg before the heroku/python buildback

[code]

Problem is that the install via pip (done by heroku/python buildpack) fails:

[code]

It fails because PKG_CONFIG_PATH is overridden and pkg-config therefore cannot find the .pc files in $HOME/vendor/ffmpeg/lib/pkgconfig.

Right now as a workaro

[2015-12-02 13:02] cclauss opened #264 "Should setuptools be upgraded to v18.7.1?"
https://github.com/heroku/heroku-buildpack-python/blob/master/bin/compile currently uses setuptools v18.3.2.  Are there reasons to upgrade to the current v18.7.1?

http://pythonhosted.org/setuptools/history.html

[2015-12-03 17:58] henrykironde commented on #228
you could try
1) https://github.com/Esri/raster2gpkg  copy the packages missing
2) https://trac.osgeo.org/osgeo4w/

[2015-12-03 22:51] kennethreitz commented on #264
Planning on doing this tomorrow, actually :)

[2015-12-03 22:52] kennethreitz commented on #263
Can `PKG_CONFIG_PATH` take multiple values?

[2015-12-04 07:38] vesterbaek commented on #263
From http://linux.die.net/man/1/pkg-config:

*it will also look in the colon-separated (on Windows, semicolon-separated) list of directories specified by the PKG_CONFIG_PATH environment variable.*

[2015-12-04 20:51] alexkahn commented on #87
Just wanted to clarify, will this honor a python shebang like `/usr/bin/env python` or must it be `/app/.heroku/python/bin/python` (the result of running `which python` against my app dyno)? Just in case - is the location of `which python` consistent across dynos assuming they're on the same stack?

[2015-12-04 20:53] kennethreitz commented on #87
@alexkahn `env python` should work perfectly fine

[2015-12-04 20:56] alexkahn commented on #87
Thanks!

[2015-12-05 23:44] cclauss commented on #264
Closed via https://github.com/heroku/heroku-buildpack-python/commit/364ddc98b731e4e270ad0b9f42c047b2efcc8d8a

[2015-12-05 23:44] #264 closed

[2015-12-08 10:22] Chronial commented on #223
I did not encounter this problem with the build-in multipack support: https://devcenter.heroku.com/articles/buildpacks#using-multiple-buildpacks

[2015-12-08 10:29] Chronial opened #268 "Spammy collectstatic for ManifestStaticFilesStorage"
With [`ManifestStaticFilesStorage`](https://docs.djangoproject.com/en/1.8/ref/contrib/staticfiles/#manifeststaticfilesstorage) as `STATICFILES_STORAGE`, `collectstatic` outputs another line for each file, saying "Post-processed ...". That makes the output of the heroku build very spammy.

This can be fixed by replacing this line: https://github.com/heroku/heroku-buildpack-python/blob/a637ec3d11a5f

[2015-12-12 13:13] DeathBorn commented on #198
+1

[2015-12-17 20:23] kennethreitz commented on #223
I did a bunch of work around this around a month ago. Feel free to try again ;)

[2015-12-17 20:24] #223 closed

[2015-12-17 20:30] kennethreitz commented on #263
Actually, the Python buildpack never touches `PKG_CONFIG_PATH`.

Looks like you've hit a limitation on our multi-buildpack implementation.

[2015-12-18 12:13] vesterbaek commented on #263
https://github.com/heroku/heroku-buildpack-python/blob/master/bin/compile#L107

[2015-12-22 08:30] techtonik commented on #261
@kennethreitz yes, but binary packages require different files for different platforms.

[2016-01-06 16:57] sibeliusseraphini commented on #256
This really slow down deploys

[2016-01-08 08:12] Immortalin opened #269 "Handling multiple python versions on the heroku shell"
I have an application that utilizes Python 3, however, one of its JavaScript dependencies requires Python 2 to build e.g. it has the following line in its package.json:
[code]
On Ubuntu for example, you could specify the python version by calling either python2 or python3 at the command line but how do you do this/the equivalent on heroku? Can you use multiple python runtimes?

[2016-01-08 11:51] edmorley commented on #269
I suspect being able to run multiple versions of Python would be useful for other cases too, however for Blockly, it looks like they have a yet-to-be-merged branch that adds Python 3 support (at least for the compiled code) - perhaps they'd be open to making compatibility changes to the build script too?
https://github.com/google/blockly/commit/1facefc3cfbce2493d31c2df73740c30d6a491d1
https://gith

[2016-01-08 13:50] Immortalin commented on #269
I have attempted to port build.py over to python 3 today but gave up since it requires an almost complete rewrite of the closure build code because calcdeps.py has been deprecated in favour of closurebuilder.py

[2016-01-08 20:52] kennethreitz commented on #269
@Immortalin your JS dependency should utilize the underlying system python then, instead of the one provided for your application.

[2016-01-08 20:52] #269 closed

[2016-01-08 20:53] kennethreitz commented on #256
Caching is functioning properly on Heroku. Is this an issue with Dokku apps?

[2016-01-08 20:55] #261 closed

[2016-01-08 21:04] sibeliusseraphini commented on #256
I think so, I'm using dokku for the deploys

[2016-01-08 22:17] techtonik commented on #261
Oh well. Whatever.

[2016-01-08 22:23] Jubjub commented on #263
We're having this same issue.
A possible solution is shown by https://github.com/jasrusable/heroku-buildpack-python by prepending to both `LIBRARY_PATH` and `LD_LIBRARY_PATH`, and by skipping the unsetting of both variables in line 50 of `bin/compile`.

[2016-01-09 03:55] Immortalin commented on #269
@kennethreitz can you elaborate on what do you mean? Doesn't installing `Python 3` symlink it to `bin/Python` and override the default system Python?

[2016-01-09 04:11] cclauss commented on #269
Perhaps but it might not override `bin/python2` or `bin/python2.7` or `bin/python2.6`.  Can you please try to see if those are still around on your machine?

[2016-01-13 23:17] kennethreitz commented on #269
@Immortalin just because of the way the PATH is setup. `/usr/bin/python` is built into the stack image :)

[2016-01-13 23:20] kennethreitz commented on #269
It's easy to explore these things with `$ heroku run bash`

[2016-01-13 23:23] kennethreitz commented on #256
I think this is something that needs to be explored with the Dokku folks, because this has been in production for quite some time at Heroku, without any problems.

[2016-01-13 23:23] #256 closed

[2016-01-14 08:48] Immortalin commented on #269
Thanks, will this be changed if e.g. the Linux base image that heroku is built on updated their version of python?

[2016-01-14 19:27] kennethreitz commented on #269
Yes.

[2016-01-16 03:31] #249 closed

[2016-01-26 23:55] #230 closed

[2016-01-26 23:57] #224 closed

[2016-01-26 23:57] #219 closed

[2016-01-26 23:59] kennethreitz commented on #221
I don't think matplotlib will work on Heroku.

Regardless, downloading a 50MB file should be quite quick. Did you retry your download? I suspect the problem may lie with the server hosting the file.

[2016-01-26 23:59] #221 closed

[2016-01-27 00:01] #209 closed

[2016-01-27 00:01] kennethreitz commented on #236
:check:

[2016-01-27 00:01] #236 closed

[2016-01-27 00:05] kennethreitz commented on #252
C is a possible option. The reasoning behind the current implementation is the assumption that a tremendous amount of users have their apps misconfigured for collectstatic.

[2016-01-27 00:06] kennethreitz commented on #186
Going to leave the current implementation as-is for now. This would be a lot easier if the buildpack was written in Python :)

[2016-01-27 00:06] #186 closed

[2016-01-27 00:07] #188 closed

[2016-01-27 00:09] #190 closed

[2016-01-27 00:12] kennethreitz commented on #237
@stickywes that would be great! Just collectstatic, it's special.

[2016-01-27 00:19] edmorley commented on #237
The root cause of this sounds like a Django bug surely? The dry-run shouldn't ever fail but the non-dry-run succeed. Could you file an issue on their tracker? :-)

[2016-01-27 00:37] edmorley commented on #252
Many thanks for your reply :-)

An additional issue with the current behaviour of just printing a warning (and allowing the build to continue) if the dry-run fails, is that it means people who have a correct collectstatic configuration can inadvertently break that configuration after months of it working and still have their deploy succeed, hiding the breakage.

Caching the success of previous run

[2016-01-27 06:41] xblitz commented on #198
any reason for closing this ticket without commenting?

[2016-01-27 16:24] stickywes commented on #237
@edmorley This isn't about trying to fix the issue that was causing problems, but about improving  feedback during a build in order for them to fix the problem easier.  See my last post for the actual root cause of the issue.

[2016-01-28 10:35] edmorley commented on #237
Sorry 'root cause' was a poor choice of words, I was actually referring to this part of the OP:

I read that as saying collectstatic failing was conditional on the presence of `--dry-run`, whereas I'm guessing it was more due to where collectstatic was being invoked (ie during compile vs heroku run).

In addition to the improved logging story in this issue, I think we should cache the result of th

[2016-02-01 07:10] dwu-pivotal opened #272 "How to start additional agent(start with shell script) while starting python?"
I have some agent write with shell script, and need to start before python web server starts, how to do this?

[2016-02-01 09:36] kennethreitz commented on #272
Your Procfile entry can be a shell script :)

[2016-02-01 16:42] dwu-pivotal commented on #272
Thx kennethreitz, but I need to make it default for all the developers that using this buildpack. Any place I can extend it?

[2016-02-03 03:29] ChaosEternal commented on #272
another place is put such code in bin/post_compile .

[2016-02-03 04:32] kennethreitz commented on #272
@dwu-pivotal I don't know of a way to do that, unfortunately.

[2016-02-03 04:32] #272 closed

[2016-02-05 05:07] kennethreitz commented on #268
Done! Many thanks. https://github.com/heroku/heroku-buildpack-python/commit/78b6142d1861ba0fe73cd59deadc92c46d68c499

:sparkles: :cake: :sparkles:

[2016-02-05 05:08] #268 closed

[2016-02-05 08:03] Chronial commented on #268
thanks :smile:

[2016-02-06 01:56] kennethreitz commented on #263
When the Python buildpack starts, `PKG_CONFIG_PATH` is not an available environment variable, even though it was set by the previous buildpack (ffmpeg). They are isolated from each-other. Because of this, the proposed solutions will not help the situation.

[2016-02-09 13:01] edmorley commented on #252
Fixed in v76 (https://github.com/heroku/heroku-buildpack-python/compare/v75...v76).

Many thanks :-)

[2016-02-09 13:01] #252 closed

[2016-02-09 13:05] edmorley commented on #237
As of v76 (https://github.com/heroku/heroku-buildpack-python/compare/v75...v76):
* dry-run isn't used, and failures are both output to the log, and cause the build to fail (preventing deploying a broken app)
* collectstatic now outputs a traceback to give more context
* `DEBUG_COLLECTSTATIC` can be defined to dump the environment during the build to the log

As such, I think this is now fixed :-)

[2016-02-09 16:25] kennethreitz commented on #237
😎

[2016-02-09 16:25] #237 closed

[2016-02-09 16:27] kennethreitz commented on #199
This is default now.

[2016-02-09 16:27] #199 closed

[2016-02-09 16:28] kennethreitz commented on #252
🎉

[2016-02-09 23:02] stickywes commented on #237
Awesome!

[2016-02-17 11:17] eillarra commented on #198
+1

[2016-02-17 11:50] edmorley commented on #198
it's worth noting that you can add arbitrary commands to `bin/post_compile` (which albeit is undocumented) which are run near the end of the compile step:
https://github.com/heroku/heroku-buildpack-python/blob/v77/bin/compile#L230

That said, running compilemessages in a dyno created with this buildpack currently fails with:
[code]

Googling found this post_compile file which installs the missing

[2016-02-17 16:27] mattgraham opened #275 "Correct Buildpack Image"
per @kennethreitz:

@mattgraham would it be possible to get an updated version of this image?

should be

[2016-02-17 16:27] mattgraham commented on #275
![buildpack_python](https://cloud.githubusercontent.com/assets/51578/13116296/5f4058f0-d569-11e5-8129-bffd7be091e6.jpg)

[2016-02-17 22:02] #275 closed

[2016-02-22 21:41] jambonrose opened #277 "django[bcrypt] and libffi"
[According to Django's docs, the way to include `bcyrpt` is to install `django[bcrypt]`](https://docs.djangoproject.com/en/1.9/topics/auth/passwords/#using-bcrypt-with-django).

Pushing to Heroku with `django[bcrypt]` declared in a `requirements.txt` file fails, as `libffi` is not installed. It appears as though `pip-grep` is not detecting the `bcrypt` requirement.

To be fair, the requirement is

[2016-02-23 01:41] kennethreitz commented on #277
That is the desired solution!

Although, it should be noted that the best practice is to include *all* requirements, with pinned versions, in your `requirements.txt` files.

[2016-02-23 15:04] jambonrose commented on #277
I've just created PR #278 with the suggested fix.

[2016-02-23 16:28] #277 closed

[2016-02-24 23:33] drernie opened #279 "Not require usernames?"
Many services these days just use the email address for the username. At least by default; they keep a distinct primary key in case the user changes their email.

This reduces the number of things a user has to create / memorize.

Is there a particular reason we want users to have explicit usernames?

[2016-02-24 23:33] drernie commented on #279
Sorry, wrong window. :-(

[2016-02-24 23:33] #279 closed

[2016-02-25 00:41] kennethreitz commented on #279
Haha! No worries :)

[2016-02-26 03:29] edwardotis commented on #80
Hi, what happened to the symlink? Can I use my separate environment requirements files with heroku yet?

https://discussion.heroku.com/t/how-to-handle-requirements-txt-for-a-staging-and-production-environment-on-heroku/295

[2016-02-26 19:28] plsmatt opened #280 "Should environment variables present in a running dyno be unset in the build environment?"
As a means of detecting if a Django application is running on a Heroku dyno we had been checking in the environment for the presence of the DYNO variable.

`if os.environ.get('DYNO'):
    do_stuff()
`

This variable is set in a running dyno, however since 669f0b0 it is no longer set during the build process.
This resulted in a difficult to troubleshoot issue for us where the Django staticfiles sto

[2016-03-02 23:51] kennethreitz commented on #228
according to my research, [this](http://gis.stackexchange.com/questions/82977/is-it-possible-to-use-gdal-without-admin-rights/83297#83297) is actually required.

Closing, for now.

[2016-03-02 23:51] #228 closed

[2016-03-08 12:54] alex opened #283 "upgrade pip to 8.1.0"
Right now the buildpack has 8.0.2

[2016-03-08 14:42] edmorley commented on #283
I've opened PR #284 to update pip/setuptools :-)

[2016-03-08 21:27] #283 closed

[2016-03-21 23:51] furious-luke commented on #263
Hi! Actually, prior buildpacks can create an `export` file that sets up environment variables for future buildpacks ([see here](https://devcenter.heroku.com/articles/buildpack-api#composing-multiple-buildpacks)). My PR fixes this issue by appending any pre-existing `PKG_CONFIG_PATH` to the values set by this buildpack. Cheers!

[2016-03-22 23:19] kennethreitz commented on #263
@furious-luke ah, fantastic! I was unaware of this mechanism, and felt like something was deeply missing ;)

[2016-03-26 01:15] addisonhuddy commented on #246
@awhillas did you find a solution. Running into a similar issues.

[code]

[2016-03-26 01:43] joshfriend commented on #246
@addisonhuddy You need to remove the period from your version string in `runtime.txt`

[2016-03-26 01:45] joshfriend commented on #246
@addisonhuddy You need to remove the extra `.` from the end of your version string in `runtime.txt`

Whatever you see between the `()` in the `Preparing Python runtime` message is the version you requested that heroku install. If you have extra characters (like in your case), or omit part of the version (as @awhillas did), it will not work.

[2016-03-26 02:14] kennethreitz commented on #246
Yes, exact names only.

[2016-03-26 03:56] addisonhuddy commented on #246
@joshfriend sorry for the typo. I have been trying different python versions with no luck.  With a correct `runtime.txt` I still seeing the same error. Thanks in advance for the help.

[code]

[2016-03-26 22:20] kennethreitz commented on #246
"Failed to compile droplet"? What is a droplet?

[2016-03-27 12:30] joshfriend commented on #246
It looks like he may be trying to use this buildpack with CloudFoundary, which [can use Heroku buildpacks](https://docs.cloudfoundry.org/buildpacks/) (which makes sense because their python one was forked from this).

Interestingly, that line of the error message has been edited out of the comments...

[2016-03-27 15:30] addisonhuddy commented on #246
I'm testing my app on a variety of PaaS so I removed the line in a effort in reduce confusion. After testing with a few versions of python and buildpacks, its clear the the error is with my app. Thanks for the help.

[2016-03-28 20:09] swanson opened #289 "Support for Google ortools"
[Google's `ortools`](https://developers.google.com/optimization/) do not work when installed via `pip` directly on Heroku (some issues with native packages it seems: [discussion](https://groups.google.com/forum/#!searchin/or-tools-discuss/python/or-tools-discuss/SPsSC6t1WNI/0Akd1motfdQJ)). This prevents the python buildpack working out of the box with `ortools` in `requirements.txt`.

I've created

[2016-03-28 22:07] edmorley commented on #289
I guess ideally this would be fixed upstream in their setup.py. I know the newsgroup thread states "pypi, setuptools, and pip are just broken", but without tickets filed or more details, I find that hard to believe.

In the meantime, the manual install steps could be performed via the post_compile hook ([example unrelated hook](https://github.com/mozilla/treeherder/blob/master/bin/post_compile)),

[2016-03-28 23:03] swanson commented on #289
I tend to agree -- though I'm not versed enough in the tools to narrow down the problem. I'm just a guy that wants to run some linear optimizations and the Python bindings were the least onerous :)

Thanks -- this looks great. My use-case does not involve other libraries depending on `ortools` (nor do I think that is a common case) so this should be sufficient. Only small downside would be that I

[2016-03-28 23:33] swanson commented on #289
@edmorley The `post_compile` hook worked great! Much easier than a fork and I like that I can keep it with the application code. Thanks!

[2016-03-28 23:33] #289 closed

[2016-03-28 23:45] edmorley commented on #289
You're welcome :-)

[2016-03-31 22:13] kennethreitz opened #291 "Add NOTICES for pip, pip-pop, etc."

[2016-04-11 08:59] jvenezia opened #293 "Allow pip to pickup manually installed packages [idea]"
related to: https://github.com/heroku/heroku-buildpack-python/pull/292

Exemples:
- [jvenezia/conda-buildpack](https://github.com/jvenezia/conda-buildpack) installs packages with conda.
- [ddollar/heroku-buildpack-apt](https://github.com/ddollar/heroku-buildpack-apt) installs any packages manually.

Packages installed like this should not be reinstalled during `pip-install`.

The workaround for no

[2016-04-11 09:11] RyanBalfanz commented on #231
FWIW, this doesn't solve my problem when using the [heroku-docker plugin](https://devcenter.heroku.com/articles/docker).

[code]

[code]

[2016-04-11 17:23] kennethreitz commented on #231
@RyanBalfanz this buildpack is not used in the `heroku-docker` plugin workflow, at this time.

[2016-04-11 19:00] RyanBalfanz commented on #231
@kennethreitz, thanks for the reply. I was able to get [heroku/python-getting-started](https://github.com/heroku/python-getting-started) working with `heroku-docker` anyway, which is nice.

Any idea when this buildpack will *officially* be supported? Or if it is even on the roadmap at all?

[2016-04-11 20:12] kennethreitz commented on #231
@RyanBalfanz at this time, the `heroku-docker` plugin and accompanying Docker image are entirely separate projects from this one.

At one point in time, during the first iteration, I did have the Python Docker image simply download and utilize this buildpack during it's build. This worked well, and is certianly an option (you can look in the git history of the repository for an example Dockerfile

[2016-04-12 18:46] RyanBalfanz commented on #231
@kennethreitz Got it, thanks!

[2016-04-13 20:35] kvarga opened #294 "Issue with transitioning app from cedar-10 to cedar-14 / No module named urllib3"
I've got an older app that I am updating and having to update to cedar-14 . Something is broken and I can't deploy it however.

It is a pretty standard Flask app:

[code]

requirements.txt
[code]

However, when pushing I get the following error:
[code]

Any ideas? There are no config variables or buildpacks set

[2016-04-13 21:38] kvarga commented on #294
Running `heroku repo:purge_cache -a project-name` resolved the issue.

[2016-04-13 21:38] #294 closed

[2016-04-14 04:22] kennethreitz commented on #294
Was just about to suggest this :)

-------------

For the record, this *shouldn't* happen, but there is a very rare corner case where it does occur when migrating. I don't recall, off the top of my head, the underlying cause. But, glad you figured out the workaround.

Sorry for the trouble!

[2016-04-14 06:10] diwu1989 opened #295 "pip install pgmagick doesn't work"
Hi,
Can you make it possible to use the module `pgmagick`?
Thanks,
Di

[2016-04-14 14:18] groovecoder commented on #263
I'm hitting the same issue trying to install the `paypalrestsdk` and/or `stripe` python packages, which require libffi. I made an (updated) heroku-buildpack-libffi here:

https://github.com/groovecoder/heroku-buildpack-libffi

But when pip tries to install `cffi` it says:

[code]

[2016-04-14 14:19] groovecoder commented on #263
Oh, and the app I'm deploying is using multi-buildpack with this `.buildpacks` file:

https://github.com/codesy/codesy/blob/libffi-buildpack/.buildpacks

[2016-04-14 14:35] groovecoder commented on #263
Ah, now I see I just had to add `cffi` explicitly to my `requirements.txt` file to trigger libffi. Got the build working now.

[2016-04-15 19:55] dhbradshaw commented on #76
So ... what do you need to do to uninstall a package?

[2016-04-16 04:18] kennethreitz commented on #76
@dhbradshaw remove the package from `requirements.txt`.

[2016-04-21 08:01] lincolnq commented on #142
If anyone is Googling and hitting this problem as of now, the solution is to add both PyNaCl and cffi to your requirements file -- you don't need any buildpack hackery anymore. Heroku's default Python buildpack knows how to install libffi but only if cffi is explicitly mentioned! (https://coderanger.net/heroku-cffi/)

[2016-04-21 09:17] edmorley commented on #295
Please could you provide the log output?

[2016-04-21 09:20] edmorley commented on #295
(I'm presuming it's due to the lack of the python-pgmagick package https://github.com/hhatto/pgmagick#requirements)

[2016-04-21 09:41] edmorley commented on #142
I've opened #296 to avoid the need for explicitly including cffi in the requirements file.

That said IMO people should really start pinning all deps as a matter of default, particularly given the benefits of pip v8's new require-hashes mode. For a not-too-painful workflow, see the suggestions in http://www.kennethreitz.org/essays/a-better-pip-workflow

[2016-05-10 11:47] whit537 opened #299 "pip-grep does not match local packages"
Reticketing from https://github.com/gratipay/inside.gratipay.com/issues/612#issuecomment-218132276 ...
### Steps
1. `cd vendor/pip-pop/`
2. `echo ./foo.zip > requirements.txt`
3. `./pip-grep requirements.txt foo`
### Expected

"Package foo found!"
### Actual

"Not found."

(Well, the _actual_ actual is https://github.com/heroku/heroku-buildpack-python/pull/298. ;-)

[2016-05-11 12:58] kennethreitz commented on #299
This is an intentional design decision. You can't tell anything about something like a zip-file without opening and inspecting it.

[2016-05-11 22:17] whit537 commented on #299
What does `pip-grep` do with non-zip-files? Does it download hit the network to get more information about it? If it's willing to hit the network, why isn't it willing to peak inside local files?

Barring that, any suggested workarounds short of forking the buildpack?

[2016-05-12 15:40] kamran-haider opened #300 "s"

[2016-05-12 15:42] #300 closed

[2016-05-17 11:34] edmorley opened #302 "'pip-diff: error: no such option: --hash' due to vendored pip 7.1.2"
We're currently using the Pip hash support added in pip 8.0.

However pip-pop run during the buildpack compile is made to use an older version of pip (7.1.2) as of:
https://github.com/heroku/heroku-buildpack-python/commit/0b7a1fc14e6e0a0e694f8e8da1a2e004ef2e53a7

This results in:
[code]

The fix being to add support to pip-pop for pip 8.x (kennethreitz/pip-pop#10), to then update to that upstream

[2016-05-17 11:36] edmorley commented on #302
It's worth noting that the compile succeeds even with these errors, so it is only by inspection of the build logs that I happened to spot the exceptions.

Is it expected that the build continues regardless?

[2016-05-23 04:30] jmg commented on #201
Same issue with memcachier here: Error: error 40 from memcached_set: FAILED TO SEND AUTHENTICATION TO SERVER, no mechanism available, host: 145833.39028e.us-east-4.heroku.prod.memcachier.com:11211 -> libmemcached/sasl.cc:221

[2016-05-23 04:39] jmg commented on #201
MemcachedCloud use `django_bmemcached.memcached.BMemcached` as backend now so if you ever see this error I recommend you to switch (https://devcenter.heroku.com/articles/memcachedcloud#django)

[2016-06-01 10:26] jgraham opened #305 "Python seems to be configured with UCS2 strings"
Python in the buildpack is compiled with UCS2 strings so that e.g. `len(u"\U0010FFFF") == 2` and `re.compile(u"\U0010FFFF", re.U)` throws an exception. Although this seems to be the default, it is the configuration that is more likely to break in edge cases since it exposes surrogate pairs directly to the programmer and means that a variety of functions don't work as expected when passed a non-BMP

[2016-06-01 10:29] kennethreitz commented on #305
Interesting.

How would one go about changing this configuration during the Python build? What would the build flags look like?

[2016-06-01 10:40] jgraham commented on #305
From [https://www.python.org/download/releases/2.4.1/notes/](https://www.python.org/download/releases/2.4.1/notes/)

[2016-06-01 20:39] ckcollab opened #307 "Buffered responses?"
Heyo! First of all, thanks for all the work on this, love Heroku and how easy it is to use :)

I am having a pretty annoying problem, it seems like I keep getting Request Timeouts when using code like this, in Django:

[code]

I keep getting hangs here, even with `send_bytes=1` set for Waitress, which should stop any responses from buffering. So I'm wondering, what the heck is causing buffering/ti

[2016-06-06 06:23] kennethreitz commented on #307
Streaming responses should "just work". There is no nginx involved, unless you're using a special custom buildpack configuration.

I would recommend giving this a read:

https://devcenter.heroku.com/articles/http-routing

There may be something simple that you're missing for your configuration.

[2016-06-06 06:28] kennethreitz commented on #305
That document is for Python 2.4.1, not modern Pythons.

[2016-06-06 07:42] ckcollab commented on #307
Hm, maybe it's just Waitress? In any case, I got something working good enough for now, thanks for the reply!

Have a good one.

[2016-06-06 07:42] #307 closed

[2016-06-06 07:51] jgraham commented on #305
Well yes, because that's when the feature was first noted in the changelog. Apparently it is otherwise poorly documented. It then applies to every subsequent Python until 3.3 when [PEP 393](https://www.python.org/dev/peps/pep-0393/) landed and changed the unicode implementation to something more sane.

[2016-06-07 18:59] kennethreitz commented on #305
Relevant: https://github.com/yyuu/pyenv/issues/257

[2016-06-09 08:27] kennethreitz commented on #299
Hmm, I'm not sure. I feel like zipfiles (and any local files, actually) is outside the scope of (automatic installation of system sub-deps / uninstallation of no-longer-listed packages). This is intended for augmenting pip's management of pypi-index-style package distributions.

[2016-06-14 14:04] RochesterinNYC opened #309 "Default Start Command"
The Heroku python buildpack does not provide a default start command. It'd be great for the buildpack to provide the correct default start command for flask, django, and regular python apps in a manner similar to the Ruby, PHP, or Nodejs heroku buildpacks.

[2016-06-15 02:44] kennethreitz commented on #309
Thank you for the feedback! The current design, however, is quite intentional :)

[2016-06-15 02:44] #309 closed

[2016-06-15 02:50] RochesterinNYC commented on #309
Gotcha, is there a link/reference where I can see the context behind the design decision? Trying to understand as we might be looking to implement something downstream for the Cloud Foundry buildpack. Thanks!

[2016-06-15 06:14] kennethreitz commented on #309
The reasons are many.

Personally, I think it's a poor design decision in general, and should only be considered if there's an extremely reasonable and sane default for the Procfile entry.

In Python's case, people have the choice of any webserver they like, and it can be configured in a myriad number of ways, pointing to any sort of WSGI application at any sort of path. Providing a Procfile entry

[2016-06-22 16:53] ShaneXie opened #311 "pip-grep not working to detect cffi"
seems this line is actually fail to dectect cffi
https://github.com/heroku/heroku-buildpack-python/blob/master/bin/steps/cryptography#L23

and please add scrapy into the list after fixed this problem.

[2016-06-22 21:23] kennethreitz commented on #311
`cffi` should be detected properly. Can you provide the `requirements.txt` file you are using?

[2016-06-22 21:45] ShaneXie commented on #311
[code]
I think this is related to https://github.com/kennethreitz/pip-pop/pull/12

[2016-06-22 21:53] kennethreitz commented on #311
It is not.

[2016-06-22 22:08] ShaneXie commented on #311
ok... :) anyway, I got to fork this repo and remove that line in order to get libffi.

[2016-06-23 10:30] edmorley opened #312 "Failures during vendored libs script don't cause the compile to fail"
In the case of #302, exceptions occurred during the pip-grep invocations in the `bin/steps/*` scripts.

However the compile completed without error, meaning that anyone not paying attention to the build logs would not be aware that parts of the build hadn't completed successfully.

IMO, if any of the `bin/steps/*` scripts fail, the build should also fail.

[2016-06-27 04:45] cclauss opened #314 "Upgrade to setuptools-23.1 or later"
https://github.com/heroku/heroku-buildpack-python/blob/master/bin/compile#L38

https://pypi.python.org/packages/source/s/setuptools/setuptools-23.1.tar.gz

Also pip-8.1.2 or later.

[2016-06-28 09:32] cclauss opened #315 "Python Buildpack version numbers in bin/comple"
https://github.com/heroku/heroku-buildpack-python/blob/master/bin/compile#L48 does not align with https://github.com/heroku/heroku-buildpack-python/blob/master/CHANGELOG.md

[2016-06-28 18:45] kennethreitz commented on #315
yeah, that number is just for metrics, and isn't really needed. It's a pain to update, and isn't useful, but can't be removed.

[2016-06-28 21:24] cclauss commented on #314
Closed via https://github.com/heroku/heroku-buildpack-python/commit/998f996a3298bd06aadff209a8ba5a2ecf603671

[2016-06-28 21:24] #314 closed

[2016-06-28 21:26] cclauss commented on #315
Well explained.

[2016-06-28 21:26] #315 closed

[2016-07-15 11:33] edmorley opened #318 "Allow comments in runtimes.txt"
Currently the Python version is extracted from `runtimes.txt` using:
[code]

It would be helpful for us to be able to add comments to `runtimes.txt` (eg: a link to the runtimes docs for those unfamilar with Heroku, or an explanation as to why we're pinned to a particular Python version).

I'm happy to open a PR that greps comments out - does `#` as a comment character sound ok to you?

[2016-07-15 14:40] kennethreitz commented on #318
This is entirely unnecessary, but thank you.

[2016-07-15 15:04] #318 closed

[2016-07-15 15:06] kennethreitz commented on #312
pip-grep is a non-essential step in the buildpack compile process, and is configured intentionally to continue upon failure (although becoming a little less rare with `--hash`), in the event that a horribly strange `requirements.txt` file is passed in.

[2016-07-15 15:06] #312 closed

[2016-07-15 15:22] kennethreitz commented on #311
Which line?

[2016-07-15 16:25] #311 closed

[2016-07-30 08:50] edmorley commented on #302
@kennethreitz I don't suppose you know when you might be able to take a look at this? :-)

[2016-08-03 00:53] julichitai commented on #246
help me please!
my runtime.txt: python-3.5.2
Python app detected
-----> Found python-2.7.11, removing
-----> Installing python-3.5.2
 !     Requested runtime (python-3.5.2
 !     Aborting.  More info: https://devcenter.heroku.com/articles/python-support
 !     Push rejected, failed to compile Python app.
 !     Push failed
How can I fix it?

[2016-08-03 00:54] #302 closed

[2016-08-03 01:04] kennethreitz commented on #246
@julichitai it looks like you specified `(python-3.5.2`, instead of `python-3.5.2`

[2016-08-05 18:35] edmorley opened #320 "Run `bin/pre_compile` after the cache is restored, not before"
The `bin/pre_compile` script is currently run not just before the main compile steps (eg installing Python/pip install etc), but also before the cache restoration step.

This means that if a `bin/pre_compile` script modifies eg `/app/.heroku/vendor` (such as extracting a required library that will be required later during pip install), then:
(a) any changes to `/app/.heroku/vendor` will be clobber

[2016-08-09 15:04] RyanSCL commented on #246
+1

[2016-08-09 15:31] edmorley commented on #246
@RyanSCL - this buildpack has supported using Python 3.5 since October 2015, which is why this issue is marked as closed and a comment left saying it was fixed (https://github.com/heroku/heroku-buildpack-python/issues/246#issuecomment-146571499).

Looking at your GitHub activity I see you've recently forked [a project](https://github.com/watson-developer-cloud/natural-language-classifier-nodejs) t

[2016-08-12 13:57] aljosa opened #324 "better support for setting env. vars when building packages"
My specific problem is w/ xmlsec, as discussed before in issues #106 and #257 by other buildpack users but could easily be any other python package (w/ c deps).

I've added apt buildpack to install required dependencies when building xmlsec package:

[code]

so when I run `heroku run bash` and try to install xmlsec, it works w/o problems:

[code]

to  achieve the same thing during the build I've a

[2016-08-12 14:11] edmorley commented on #324
Ah so `pre_compile` is run in a sub-shell (see: [here](https://github.com/heroku/heroku-buildpack-python/blob/0ed4089cb9e9f6abcaf91f48e3b8fc27fc9bf9b2/bin/steps/hooks/pre_compile#L6) and [here](https://github.com/heroku/heroku-buildpack-python/blob/0ed4089cb9e9f6abcaf91f48e3b8fc27fc9bf9b2/bin/utils#L86-L107) - note the `sub-env`'s use of `( ... )` for the sub-shell), presumably to prevent people's

[2016-08-13 02:56] revmischa opened #325 "Cannot run installed python binary in subsequent buildpack"
I want to run a python script when deploying my build, I'm not clear on how to do this. Is there a way to run a script when an app is deployed? Either by pushing and doing a release, or by promoting a build to production?
I have a staging environment and a production environment, and I want to run database migrations on both environments. Currently I deploy to stage by pushing to a branch, and the

[2016-08-13 03:03] revmischa commented on #325
I am having trouble with executing a python script in a subsequent buildpack.

[code]

When it runs the final step, it gets an error saying it cannot import modules that were previously installed with pip in buildpack step 1.

[code]

[2016-08-13 03:08] revmischa commented on #325
flask_session was definitely installed earlier:
[code]

[2016-08-17 08:01] f0r4y312 opened #327 "Symlinks to missing files"
75870dd changes
`-    deep-cp $BUILD_DIR $APP_DIR`
`+    # deep-cp $BUILD_DIR $APP_DIR`
`+    ln -s $BUILD_DIR/* $APP_DIR`

seems to link to a missing Procfile (and probably other files) causing:
`remote: -----> Discovering process types`
`remote: Procfile declares types -> (none)`

[2016-08-17 08:33] stefanosala commented on #327
We also get a failure, but with different message:

[code]

That's probably because we have a `/tmp` folder in our repository.

[2016-08-17 20:07] kennethreitz commented on #327
This change has been reverted.

Ideally, this should have just simply sped up the buildpack by reducing the number of IOPS required during the build process—and all worked well in my exploratory tests. Further investigation will have to be required.

Thanks for the report.

[2016-08-19 13:00] #327 closed

[2016-09-23 19:16] erichonkanen opened #330 "How can I always fetch latest version of packages from requirements.txt?"
Hello,

How can I always do the equivalent of `pip install --upgrade -r requirements.txt` on heroku with this buildpack?

[2016-09-23 19:55] kennethreitz commented on #330
That is not possible, at this time.

This functionality has been requested by someone before, and was heavily considered — however, at this time it was opted against. Thanks for your feedback! I've added it to my list of things to evaluate as improvements (perhaps with an environment variable switch).

✨🍰✨

[2016-09-23 20:01] erichonkanen commented on #330
environment flag seems simple enough maybe in Procfile or elsewhere

[2016-09-29 14:20] edmorley opened #332 "Tag missing for v83"
Using:
https://github.com/heroku/heroku-buildpack-python.git#v83

Gives:
 !     error fetching custom buildpack
 !     Push failed

[2016-10-03 14:40] ovidiusabou opened #333 "collectstatic fails for Review Apps because environment variables are not being set"
If the Heroku environment depends on an environment variable being set, e.g. `DJANGO_SETTINGS_MODULES=config.settings.production`, the `collectstatic` might fail, as `manage.py` takes the default settings value (usually for local development), which is not necessarily appropriate for production (in my case it's not).

I've tried disabling the `collectstatic` step using the `env` section from `app.

[2016-10-03 14:41] ovidiusabou commented on #333
https://devcenter.heroku.com/articles/github-integration-review-apps this is the feature I'm referring to

[2016-10-16 04:28] louy2 commented on #293
Could you elaborate on the workaround?

[2016-11-03 00:53] #330 closed

[2016-11-04 07:50] shivangigupta1404 commented on #246
I am getting this error
I have checked for all the solutions of this page
no extra "." present at end , all in lowercase
Kindly help me with this problem

[code]

[2016-11-21 19:30] toothywalrus opened #336 "Could not import setuptools which is required to install from a source distribution"
Whenever I'm trying to push using the 'git push origin HEAD:master --force' command, I'm getting the following setuptools error (check out the screenshot): "Could not import setuptools which is required to install from a source distribution".

![screenshot at 2016-11-21 15 33 58](https://cloud.githubusercontent.com/assets/5265045/20497393/a1aaa436-b031-11e6-9bcc-dd489136cfbc.png)

I thought it was

[2016-11-21 22:21] edmorley commented on #336
In the screenshot I see this error message displayed:

Further up in the screenshot, I also see:

...so I'd check the `runtime.txt` file in your repo and update the Python version listed there.

[2016-11-21 23:10] toothywalrus commented on #336
edmorley, thanks for the respond, but I already tried that =) yes, if I'll update the runtime.txt with the newest version of Python - then i'll get rid of that warning. But it has nothing to do with the main issue. Maybe I'm doing something wrong, but I just can't seem to find what exactly. Can it be related to some internal heroku cache thing? Like, some old package stuck somewhere or something?

[2016-11-21 23:27] toothywalrus commented on #336
So, @edmorley, i updated the `runtime.txt`, and it doesn't help, as you see:

![screenshot at 2016-11-22 01 25 37](https://cloud.githubusercontent.com/assets/5265045/20504943/cc8e5aa0-b052-11e6-9ae1-68acf1a35cc9.png)

[2016-11-22 12:01] edmorley commented on #336
It looks like ez_setup (https://pypi.python.org/pypi/ez_setup) is incompatible with newer setuptools.
Try removing it from your requirements.txt - I doubt you need it anyway.

[2016-11-22 16:52] kennethreitz commented on #336
it looks like one of your package dependencies is trying to run `ez_setup.py` (bootstraps setuptools), which is neither proper or supported on heroku. Setuptools is already available.

[2016-11-22 17:42] toothywalrus commented on #336
I thought so too.. and i tried to remove it. But i'm getting the same error regardless of the presence of that package.It fails in exactly the same way even if i have only BeatifulSoup package listed in requirements.txt file.

[2016-11-22 18:45] toothywalrus commented on #336
`Compressing objects: 100% (38255/38255), done.
Writing objects: 100% (163612/163612), 334.32 MiB | 1.28 MiB/s, done.
Total 163612 (delta 125127), reused 161216 (delta 123158)
remote: Compressing source files... done.
remote: Building source:
remote:
remote: -----> Deleting 28 files matching .slugignore patterns.
remote: -----> Python app detected
remote: -----> Installing python-2.7.12
remote: --

[2016-11-22 18:47] toothywalrus commented on #336
![screenshot at 2016-11-22 20 46 25](https://cloud.githubusercontent.com/assets/5265045/20537201/df527002-b0f4-11e6-8aed-594ea8716256.png)

[2016-11-23 23:16] toothywalrus commented on #336
Well, I finally found the reason. I had some weird `pkg_resources.py` module sitting in the root directory. Have no idea what is it for and why it was there (it's like a long-time project, so I didn't participate in adding that module). But the thing is that after I removed that crap - everything works like a charm. Thanks for everyone's help!

[2016-11-23 23:16] #336 closed

[2016-11-24 14:24] dugjason opened #337 "Failing to install sasl"
Creating a new Heroku app using this buildpack seems to fail requiring the `sasl` package:

[code]

I'm unsure where to go from here; it looks like the buildpack should install `cyrus-sasl` as part of the [requirements for libmemcache](https://github.com/heroku/heroku-buildpack-python/blob/master/builds/libraries/vendor/libmemcache#L17..L28)
The app I'm trying to install is [dugjason/caravel-on-he

[2016-12-17 04:19] rosendin opened #343 "ln: failed to create symbolic link ‘/app/.heroku/vendor’: File exists"
I noticed my build was failing lately, probably related to the symlink updates in https://github.com/heroku/heroku-buildpack-python/commit/991f4126d76dff1aff09e0c4fb0d4488e8c9407c.

[code]

[2016-12-18 14:58] codingjoe opened #345 "editable install not working"
Since yesterday a couple of things changed, which currently keep us from deploying to our production systems.

All packages are shown to be installed normally during build, but when I connect to the dyno later, the `-e` installed dependecies are missing.
I presume it had something to do with the pip update. Anyways, that should have taken down our production system, but there was another bug, whic

[2016-12-18 17:40] systemizer commented on #345
I am experiencing the same issue and is blocking deploys on our production environment.

On heroku, it looks like the egg-links are pointing to a nonexistant directory in /tmp. In the production environment (working), it points to a directory in /app

[2016-12-18 17:54] kennethreitz commented on #345
Will work on a fix on Monday.

[2016-12-18 18:54] kennethreitz commented on #345
This should now work, in v88!

[2016-12-18 18:54] kennethreitz commented on #345
Sorry for the bug.

[2016-12-18 18:54] #345 closed

[2016-12-19 08:12] codingjoe commented on #345
@kennethreitz sorry, but that didn't do it for me :/
[code]

[2016-12-19 18:13] NovaDev94 opened #346 ""Host key verification failed." while running pip with private repositories"
[code]

I had a `.ssh` folder in the Heroku repository (checked on GitHub deploy keys and it works normally) and it worked normally a week ago, it just breaks today when I'm trying to push some changes...

Maybe this is related to the recent changes?

[2016-12-19 18:17] johnbender opened #347 "Install with `-e` in `requirements.txt` results in missing dependency"
Hi!

Up front I'd like to say thanks for all hard work on the build pack. I'd also like say that my experience managing dependencies with python is minimal so I apologize if I've done something to cause the issue myself.

We have two submodules in our project repository that we install using the following convention in our `requirements.txt` (reproduced from our repo):

[code]

Previously this wor

[2016-12-19 18:26] kennethreitz commented on #347
Thanks for the report. There was a bug over the weekend with all `-e` builds, including ones pointed to GitHub. I'm working on a fix today to fix this type today as well. Sorry for the inconvenience. The fix should be easy.

[2016-12-19 18:28] kennethreitz commented on #337
If you have `pylibmc` present in your `requirements.txt`, then libmemcache should get installed with the sasl support built in.

[2016-12-19 18:28] johnbender commented on #347
@kennethreitz

No problem at all! That's why we have a staging environment. :)

[2016-12-19 19:41] ian-axelrod commented on #347
Thanks!

[2016-12-19 22:31] alanct-minted commented on #345
Our team is also having related issues today with a `-e .` in our requirements. Clearing the repo cache before each push has helped temporarily, some, and now we're facing other (possibly different failures):

[code]

I haven't had a chance to dig in much as we're on some more critical feature work today, but will try to post more details for debugging this week if others don't chime in before.

[2016-12-19 22:34] alanct-minted commented on #345
Errr, in our case, builds weren't succeeding (and then missing the actual deps) like @codingjoe's, they were failing with something like this:

[code]

Soooo possibly unrelated to this thread. Sorry for the lack of details! Just want to keep it on the radar that there could still be outstanding issues for others.

[2016-12-19 22:50] systemizer opened #348 "mv: inter-device move failed"
We've been experiencing the following error since the latest release (v89 or v90). It's causing our builds to fail. Any help would be appreciated. thanks!

`mv: inter-device move failed: ‘/app/.heroku/src’ to ‘/tmp/build_9d3ed15e37a7202634a4ea4a5070db60/Twoniverse-trackgenius-api-030dde3cb4d0d4fa8f8097eaebb4e95e56883626/.heroku/src’; unable to remove target: Is a directory`

[2016-12-19 22:50] alanct-minted commented on #348
Same for us!

[code]

Our deploys are blocked at present.

[2016-12-19 22:51] kennethreitz commented on #348
should now be fixed

[2016-12-19 22:53] systemizer commented on #348
rgr. thanks!

[2016-12-19 22:53] #348 closed

[2016-12-19 22:53] kennethreitz commented on #348
confirmed?

[2016-12-19 22:56] alanct-minted commented on #348
:hugs: confirmed

[2016-12-19 22:58] JoshDrake-minted commented on #348
No longer experience the issue with ``mv``, but the symlink right after is now erroring (just needs the force flag, I think):

[code]

[2016-12-19 23:08] JoshDrake-minted commented on #348
Looks like 19513067bbc734ee3cf19a3a9a13b6be94838b76 fixed this issue entirely. Thanks!

[2016-12-19 23:09] kennethreitz commented on #348
fantastic news!

[2016-12-19 23:09] kennethreitz commented on #347
can you try again?

[2016-12-19 23:54] johnbender commented on #347
With the following:

[code]

I'm not seeing the dependency resolution error anymore (ie, it works).

I'm not clear on what exactly the canonical buildpack `heroku/python` points at but I tried that also and it doesn't work. I assume you have some release process that points it at a given commit when you're ready.

[2016-12-20 00:11] kennethreitz commented on #347
Correct — ideally, `https://github.com/heroku/heroku-buildpack-python` works perfectly, and can be deployed tomorrow.

[2016-12-20 00:50] zph commented on #345
Saw similar issue here as @alanct-minted

[code]

Resolved by clearing build cache and then pinning to v85 of buildpack, which was last known good for this repo.

[code]

Pinning to v85 and pushing didn't work for us without purging cache.

[2016-12-20 03:28] kennethreitz commented on #345
This should now work properly, but a purge cache may be required if pushes were done during this unfortunate bug period.

[2016-12-20 15:49] ryanhiebert commented on #347
I was seeing this same issue, but this fix hasn't worked for me. Using buildpack `https://github.com/heroku/heroku-buildpack-python`. It looks like it's already deployed, because it's failing in the same way as `heroku/python`, but in a new way.

Now, during my build, it's giving me this error. This is the same commit that I have previously deployed successfully. It's different that the error is g

[2016-12-20 17:10] kennethreitz commented on #347
@ryanbrainard can you try against master again? I just changed the order for you, so the files should be available during the `collectstatic` step

[2016-12-20 17:17] ryanhiebert commented on #347
Same thing. Here's the commands that I ran to switch the buidpack. Did I screw something up?

[code]

[2016-12-20 17:28] kennethreitz commented on #347
@ryanbrainard can you paste your `requirements.txt` file?

[2016-12-20 17:31] ryanhiebert commented on #347
Here's the top, slightly redacted:

[code]

[2016-12-20 17:32] ryanhiebert commented on #347
The `-e .` is how `aspiredu` is found and collected. There is a `setup.py`, and the source files are in `/src/python` from the `setup.py` in the root of my repo.

[2016-12-20 17:34] kennethreitz commented on #347
@ryanbrainard would you mind opening a support ticket and asking that I (Kenneth Reitz) take a look at it? This will give me permission to look at your slug and see what's going on

[2016-12-20 17:35] kennethreitz commented on #347
@ryanhiebert would you mind opening a support ticket and asking that I (Kenneth Reitz) take a look at it? This will give me permission to look at your slug and see what's going on

http://support.heroku.com

[2016-12-20 17:35] ryanhiebert commented on #347
Will do.

[2016-12-20 17:36] kennethreitz commented on #347
@ryanhiebert link me to the ticket here so I can look at it ASAP

[2016-12-20 17:38] ryanhiebert commented on #347
https://help.heroku.com/tickets/434553

[2016-12-20 18:54] NovaDev94 commented on #346
I've tried to go through commits to find the exact commit introducing this problem: https://github.com/heroku/heroku-buildpack-python/commit/991f4126d76dff1aff09e0c4fb0d4488e8c9407c

[2016-12-20 19:07] kennethreitz commented on #346
I don't believe this was a supported way to do this before, hence the breakage. Are you using the heroku buildpack for ssh keys? One exists.

[2016-12-20 19:08] kennethreitz commented on #346
https://elements.heroku.com/buildpacks/bjeanes/ssh-private-key-buildpack

[2016-12-20 19:19] NovaDev94 commented on #346
Before this change, all I need to do is put a `.ssh` folder (with `id_rsa` and `id_rsa.pub`) in the Heroku repo folder (as shown on this https://github.com/heroku/heroku-buildpack-python/issues/97#issuecomment-20902506).

---

I just tried the `ssh-private-key-buildpack`, seem like it works correctly now! Though I have another error but I think it's addressed and already fixed by you 👍

[code]

[2016-12-20 19:23] kennethreitz commented on #346
Sorry for the change!

[2016-12-20 21:10] ryanhiebert commented on #347
Thanks @kennethreitz , the latest master seems to be working for me!

[2016-12-21 14:53] evdoks commented on #293
Are you talking about #338?
If yes, then it seems @kennethreitz has some strong arguments against modifying `PYTHONPATH`. However, your fork has helped us a lot in installing Scikit-Learn with pip. We can't use [conda-buildpack](https://github.com/kennethreitz/conda-buildpack) directly, as it does not play well with Django and in general does not have the same level of support as [heroku-buildpack

[2016-12-21 15:16] alanct-minted commented on #345
Cache purge has still been necessary on every build over the past day... similar messages:

[code]

[2016-12-21 18:50] dugjason commented on #337
Thank you @kennethreitz - that certainly works as a workaround.

[2016-12-22 00:04] zph commented on #345
@kennethreitz Thank you for your work on this buildpack and issue.

[2016-12-22 03:40] JakeAustwick opened #350 "failed to create symbolic link ‘/app/.heroku/venv’: File exists"
Started getting this all of a sudden, maybe due to a recent change? It's preventing us from deploying.

[code]

[2016-12-22 05:18] fomojola opened #351 "collectstatic fails with latest buildpack (v96) but works with v83"
Recently pushed a new version of my Django app, and experienced the following error:

[code]

Given I hadn't made any major changes in the app was quite surprised: this worked the last time I pushed it (November 7th). After some editing got it to stop making the error, but suddenly started seeing errors that collectstatic wasn't generating the actual output files (my app's slug size dipped from 10

[2016-12-22 10:26] NovaDev94 opened #352 "Install with `-e .` causes "AssertionError: Egg-link /app does not match installed location""
Full trace

[code]

My `requirements.txt`

[code]

My buildpacks (latest commit in `master`)

[code]

[2016-12-22 17:01] kennethreitz commented on #352
This should now longer be an issue, but you may need to purge your build cache:

[code]

[2016-12-23 21:14] vovanz opened #353 "/app/.heroku/python/bin/pip: No such file or directory"
I am trying to deploy a Python app on heroku and I get the following output:
[code]
Looks like, it cannot find pip executable. Is it a bug or am I doing something wrong?

[2016-12-23 21:45] vovanz commented on #353
I have changed `runtime.txt` from `python-3.6.0` to `python-3.5.2` and it worked!
This is **really strange**, because [official documentation](https://devcenter.heroku.com/articles/python-runtimes#supported-python-runtimes) says that `python-3.6.0` is supported and `python-3.5.2` is not.

[2016-12-24 05:51] kennethreitz commented on #353
this is now fixed

[2016-12-24 05:51] #353 closed

[2016-12-31 06:05] 4bic commented on #246
@shivangigupta1404 , did you fix the issue?
Heroku’s Python support extends to the latest stable release from the Python 2.x and Python 3.x series :
curently , this support extends to these **specific** runtimes:

- python-2.7.13

- python-3.6.0

https://devcenter.heroku.com/articles/python-runtimes#supported-python-runtimes

[2016-12-31 08:57] NovaDev94 commented on #352
@kennethreitz The problem is gone after I run the `purge_cache`, however it raises the same error next time I make a deployment to Heroku.

[2017-01-01 08:33] shivangigupta1404 commented on #246
@4bic the mistake I found out was that i dint include the required python packages in requirement.txt.
That solved my problem.

[2017-01-01 22:29] johbo commented on #352
I am seeing a similar issue, also having `-e .` in my requirements file.

Here is a traceback:

[code]

I have tried older versions of this buildpack, v85 seems to work fine as a workaround.

[2017-01-02 14:34] wooyek commented on #33
I have no versions in the `requirements.txt`. How can I make sure that the latest packages will be installed on deploy to heroku?

PS. No versions freeze is on purpose. I know it's not the best practice. but I want my CI to catch any incompatibilities as quicly as it can and I don't want to keep to versions of requirements file.

[2017-01-02 17:02] kennethreitz commented on #352
this is now fixed!

[2017-01-02 17:02] #352 closed

[2017-01-02 17:03] #347 closed

[2017-01-03 08:35] #346 closed

[2017-01-03 11:03] johbo commented on #352
Cool, thanks! I'll test it out as soon as possible.

[2017-01-03 11:23] johbo commented on #352
Works with the current change. 👍

[2017-01-10 16:59] ipmb commented on #351
The problem goes beyond just `collectstatic`. Doing the build in `/tmp/...` and then running the app from `/app` seems to be the source?

I can confirm that v83 is the last one that was functional for me.

Here's a minimal sample that exhibits the problem: https://gist.github.com/ipmb/4d8f2def75ef23f56944477349ce1ca2

Note the path for `__file__` on the script created by `setup.py` on the current

[2017-01-13 02:59] kennethreitz commented on #351
Correct — you should not be referencing `/app` in your codebase.

[2017-01-19 07:49] darklow commented on #351
I had same problem except I wasn't even seeing any errors, so I spent lot of time debugging and trying to figure out where `/app/static` disappeared, previously in `settings/production.py` I had:
[code]
Changing to following fixed the problem:
[code]

And while building output is:
`112 static files copied to '/tmp/build/static', 112 post-processed.`

[2017-01-21 15:46] prashnts opened #356 "Content of app/nltk_data not included in slug"
With the latest v97, data downloaded as part of slug compilation step (specified via `post_compile` hook) is **not** retained in the slug.

This worked fine in v85, and pinning back to v85 this still works.

[2017-01-23 06:28] kennethreitz commented on #356
you need to download the files to the CWD, not to /app.

[2017-01-23 08:23] prashnts commented on #356
Thanks; I've pinned to v85 in the meantime. I think it'd be nice to have a warning posted somewhere about this change so to not have a scare and failing builds coming as surprise! :)

The above mentioned `post_compile` hook is fairly popular way of getting the `nltk` data.

[2017-01-23 11:30] boussouira opened #357 "Short build log"
Today i've noticed the build log is not verbose as it used to be:
[code]

What is missing is the output of `bin/post_compile` hook file, which contain a lot of useful information like migration and `django-compress` in our case, also this part is missing:
[code]
However, the  Deploy -> build log in Heroku dashboard show the full build log with all the missing information

[2017-01-25 00:38] boussouira commented on #357
Seems to be fixed now

[2017-01-25 00:38] #357 closed

[2017-02-08 11:55] #337 closed

[2017-02-09 10:27] pythdasch commented on #223
Is there any update about this issue ? I'm still having this problem since the 17th december, date of a release of nodejs buildpack. And as far as I red post, it's the python library which cannot find node library

[2017-02-15 18:46] kennethreitz commented on #356
I just added official `nltk` support to the buildpack!

Simply add a `nltk.txt` file with a list of corpora you want installed, and everything should work as expected.

[2017-02-15 18:54] #332 closed

[2017-02-15 18:57] #293 closed

[2017-02-15 18:57] #291 closed

[2017-02-15 18:57] #263 closed

[2017-02-15 18:57] #324 closed

[2017-02-15 18:57] #325 closed

[2017-02-15 18:58] #343 closed

[2017-02-15 18:58] #350 closed

[2017-02-15 18:58] #351 closed

[2017-02-15 18:59] #356 closed

[2017-02-17 06:17] prashnts commented on #356
Thank you! It looks like a good solution.

I'd whipped up a buildpack to download the corpora in a multi-buildpack configuration:  [prashnts/heroku-buildpack-textblob](https://github.com/prashnts/heroku-buildpack-textblob) which seems unnecessary now.

[2017-02-19 22:23] davidism opened #359 "collectstatic does not run when using setup.py"
I am using `setup.py` instead of `requirements.txt` to specify my dependencies. The dependencies are installed correctly; however, the `collectstatic` step does not detect that Django is installed.

I verified this by adding `pip-grep requirements.txt django Django` to `bin/post_compile`. Since `requirements.txt` is generated and only contains `-e .` when using `setup.py`, `pip-grep` outputs `Not

[2017-02-19 23:11] davidism commented on #359
Rather than parsing `requirements.txt`, it would be more straightforward to use `pkg_resources` to examine the actually installed distributions. Replace `pip-grep` with the following script.

[code]

[2017-02-24 09:45] dhilipsiva opened #360 "[Question/Suggestion] Unified Utils"
I see a lot of boilerplates for `indent`, `puts-cmd`, `puts-step`, etc. across may buildpack repos. Why not have a have these things in a separate repo called `heroku-buildpack-utils` (Or something similar) and have them in environment (in the docker image) be default? Or some other means of utilizing these functions. This will:

1. Reduce the amount of boilerplates Buildpack authors write.
2. Wil

[2017-02-24 09:46] dhilipsiva commented on #360
Apologies for creating an Issue for this matter. Did not know if this the right way to ask developers. Just had to ask this somewhere.

[2017-02-24 22:57] maxamante opened #361 "Fails build whenever a `runtime.txt` is present"
I'm trying to deploy a Python app to the `cedar-14` stack. Whenever I declare a `runtime.txt` file with either allowed runtime I get output similar to this (this is output from when I tried declaring the default runtime):
[code]
When I remove the `runtime.txt` file, the deploy completes with no errors.

Thanks for the code otherwise!

[2017-02-27 18:17] maxamante commented on #361
For the output above:
[code]

[2017-02-27 21:02] edmorley commented on #361
I can repro if I create a runtime.txt that uses `CR` rather than `LF` line endings. Convert your runtime.txt to use Unix style line endings and make sure no leading/trailing unicode or other such problematic characters.

That said, I think the buildpack could be made more resilient to this, by either tweaking `IFS` [1] or more likely by trimming any whitespace via something like:
[code]
(here: htt

[2017-02-27 21:12] cclauss commented on #361
Like a bad penny... https://github.com/heroku/heroku-buildpack-python/issues/186

[2017-02-27 21:35] cclauss commented on #361
@edmorley Line 2 or line 33?

[2017-02-27 21:47] edmorley commented on #361
Ah line 2, I copied from the wrong tab.

[2017-03-02 20:12] edmorley commented on #305
Fixed via #322 and related :-)

[2017-03-02 20:46] edmorley opened #362 "Pip/setuptool version updates leave old installs behind"
eg:
[code]

In our case the cache had been purged not that long ago, however I imagine some users (who haven't recently changed their python version or manually run purge_cache) will have many more installs. Each old install is about 7MB.

pip/setuptools are currently installed via `python setup.py install`, which doesn't handle uninstallation:
https://github.com/heroku/heroku-buildpack-python/blo

[2017-03-08 19:21] rhysyngsun opened #364 "setuptools / six build failure"
We're observing that our builds that have started using the newer version of `setuptools` introduced in 893bdec. This appears related to benjaminp/six#183.

I'm also curious why we're seeing this our builds when the relevant change isn't in a tagged/released version?

Here's the relevant portion of the build output we're getting:

[code]

[2017-03-08 19:28] cclauss commented on #364
related to https://github.com/heroku/heroku-buildpack-python/commit/e26a0f04d93ff1491ec10076c8268879d2d479fc ?

[2017-03-08 19:30] rhysyngsun commented on #364
@cclauss yup, we also already decided to just pin to v99.

[2017-03-14 01:21] kennethreitz commented on #364
this should now be working

[2017-03-14 01:21] kennethreitz commented on #361
no newlines!

[2017-03-14 01:23] #305 closed

[2017-03-14 01:23] #295 closed

[2017-03-14 01:23] #359 closed

[2017-03-14 01:24] #360 closed

[2017-03-14 01:24] kennethreitz commented on #360
We're working on it :)

[2017-03-14 01:29] kennethreitz commented on #333
thanks for bringing this to our attention

[2017-03-14 02:38] davidism commented on #359
@kennethreitz was this fixed in a commit?

[2017-03-14 05:24] cclauss commented on #361
Why force humans to do what computers can do faster and better?  This issue has caught up several of us.  Why not just add a line or two of whitespace stripping code as an acknowledgement that we humans are imperfect.

[2017-03-14 05:35] jmorrell commented on #361
I'll take a look at making this more robust to whitespace errors @cclauss. If nothing else it should at least warn you.

[2017-03-14 12:48] edmorley commented on #362
For anyone curious as to whether this was fixed or wontfixed (since there was no comment), it was fixed by:
https://github.com/heroku/heroku-buildpack-python/commit/09b7e448410b08e96a763fa1c73178e2ff5dddd3

(This was non-obvious, since the commit message was "fix tests" and it was landed directly to master without using pull requests, and GitHub doesn't email people watching the repo about direct

[2017-03-14 14:42] #364 closed

[2017-03-14 14:44] edmorley commented on #361
The example in https://github.com/heroku/heroku-buildpack-python/issues/361#issuecomment-282852084 worked when I tried a few known broken cases locally, if that helps?

[2017-03-14 14:47] kennethreitz commented on #361
https://github.com/heroku/heroku-buildpack-python/commit/df52fd46e5b357503601d0f336c7fccb31b1f68b

[2017-03-14 14:55] kennethreitz commented on #361
this is fixed in master

[2017-03-16 07:26] wooyek opened #367 "Hook required post_promte or post_deploy"
The hook post_compile is great to do things like database migrations, but when it's used that way you cannot fully automate heroku pipelines because post_compile wont be run on `heroku pipelines:promote`.

Is it possible to add a hook for deploy or promote?

[2017-03-16 12:10] edmorley commented on #367
You're in luck! Heroku has a relatively new feature, "release phase" that allows for running such tasks:
https://devcenter.heroku.com/articles/release-phase

For example usage, see:
https://github.com/mozilla/treeherder/blob/2b0ef8a6ddd1df50ec8a01e69d35324934e87afe/Procfile#L15
https://github.com/mozilla/treeherder/blob/2b0ef8a6ddd1df50ec8a01e69d35324934e87afe/bin/pre_deploy

[2017-03-16 13:12] wooyek commented on #367
Splendid!

[2017-03-16 13:12] #367 closed

[2017-03-16 16:38] #361 closed

[2017-03-16 16:40] kennethreitz commented on #362
this fixed a problem i was having today, thanks!

[2017-03-18 23:47] davidism commented on #359
@kennethreitz this doesn't appear to be fixed. Why was this closed?

[2017-03-20 11:46] edmorley commented on #362
You're welcome!

This can now be closed, fixed by:
https://github.com/heroku/heroku-buildpack-python/commit/65648fb7a802078e125f4e0926b2042ba1f55b11#diff-57a28f8b2bf70b3efa895ae239e9d986R61

[2017-03-31 16:38] #362 closed

[2017-04-04 11:57] kennethreitz commented on #359
sorry for closing without explanation — this is intentional.

[2017-04-04 11:58] #299 closed

[2017-04-04 11:59] kennethreitz commented on #280
I can allow DYNO to be exposed, for you.

[2017-04-04 12:03] kennethreitz commented on #280
I would recommend checking for the `STACK` environment variable.

[2017-04-04 13:45] kennethreitz commented on #356
@prashnts nice!

[2017-04-05 14:39] davidism commented on #359
Why is it intentional? [Heroku says that they support `setup.py`]( https://devcenter.heroku.com/articles/python-pip#traditional-distributions), but the tooling clearly doesn't in this case. The change would be backwards compatible while fulfilling the statement in the docs.

[2017-04-25 14:26] kennethreitz opened #375 "Speed up Travis CI builds"
https://giorgos.sealabs.net/docker-cache-on-travis-and-docker-112.html

[2017-04-25 14:27] #280 closed

[2017-04-25 14:31] kennethreitz opened #376 "Automatically remove entries from requirements.txt"
- six
- setuptools
- pyparsing
- appdirs

[2017-04-25 23:19] alex opened #377 "Upgrade pypy to 5.7.1"
http://doc.pypy.org/en/latest/release-v5.7.1.html

[2017-05-05 19:54] kennethreitz commented on #375
this doesn't work.

[2017-05-05 19:54] #375 closed

[2017-05-05 19:54] #320 closed

[2017-05-09 14:03] edmorley opened #379 "Heroku-16 Python runtime archives contain additional packages (boto/bob/...)"
The cedar-14 Python runtime archive does not contain any already installed packages:
[code]

However the Heroku-16 equivalent does:
[code]

There are appear to be other files present that were not in cedar-14, eg:
[code]

I'm guessing the method used to build the archives has accidentally bundled parts of this buildpack's development environment into the archive?

[2017-05-09 20:20] kfwls commented on #377
+1

5.7 is available for python2, but not python3

https://devcenter.heroku.com/articles/python-runtimes#available-runtimes

[2017-05-09 20:40] cclauss commented on #377
https://github.com/heroku/heroku-buildpack-python/pull/331#issuecomment-250023790

[2017-05-09 21:27] kfwls commented on #377
This is a beta release

http://doc.pypy.org/en/latest/release-v5.7.1.html

[2017-05-10 10:32] edmorley commented on #379
There also appear to be some 2.7.12 related files in the 2.7.13 Heroku-16 archive, eg:
[code]

I'm presuming the builds were generated sequentially in the same environment, and perhaps these are leftover files from the previous build?

[2017-05-10 16:59] dbarbeau opened #380 "Collectstatic failure : /bin/steps/collectstatic: line 12: [: -eq: unary operator expected"
Hello,

I am trying to deploy a django app and expected the collectstatic command to be called. It seems heroku tries but fails, as can be seen in this snippet

[code]

We don't seem to have any sort of custom code kicking in at this point. Could this be an error in Heroku's scripts? Or have you any clues on what could be causing such an error?

[2017-05-11 16:04] kennethreitz commented on #380
That's very interesting, the line in question appears to be [this one](https://github.com/heroku/heroku-buildpack-python/blob/master/bin/steps/collectstatic#L12), which is an empty line

[2017-05-11 16:05] kennethreitz commented on #380
I haven't heard of this error from anyone else, so it may have just been a glitch, somehow.

[2017-05-11 16:06] kennethreitz commented on #379
I have noticed this as well. It doesn't seem to be problematic yet (especially since those packages automatically get uninstalled on first push), but I would like to figure out what is causing this and remove them.

Builds for `heroku-16` are done with the Docker runtime, instead of with the standard platform. That's the only difference.

[2017-05-11 16:07] kennethreitz commented on #377
There is such a shockingly low amount of PyPy usage on the platform that I may stop updating PyPy as often as the other runtimes.

[2017-05-11 16:08] kennethreitz commented on #377
Closing for #370

[2017-05-11 16:08] #377 closed

[2017-05-11 16:09] kennethreitz commented on #333
I believe the proper solution here is to set those environment variables in `app.json`.

[2017-05-11 16:09] #333 closed

[2017-05-11 16:30] kennethreitz commented on #377
deployed to both stacks!

[2017-05-11 16:34] kfwls commented on #377
Excellent, thanks!

[2017-05-11 16:50] kfwls commented on #377
The python3 version hasn't actually been added - only python2.

[2017-05-11 16:56] kennethreitz commented on #380
I'm going to close this, since it hasn't been brought up by anyone else yet. @dbarbeau can you comment if this is still happening?

[2017-05-11 16:56] #380 closed

[2017-05-11 17:06] kennethreitz commented on #377
@kfwls deployed now.

[2017-05-11 19:27] edmorley commented on #379
Do you mean:
* for cedar-14 the steps used were those documented [here](https://github.com/heroku/heroku-buildpack-python/blob/master/builds/README.md)?
* for heroku-16 the Dockerfile in the root of this repo is used to generate the builds? eg something like:
[code]

Unfortunately I can't complete a build using bob-builder, since even if I set `S3_BUCKET=lang-python`, and then force the boto conne

[2017-05-12 07:29] dbarbeau commented on #380
Hello, in the rush we worked around the issue. I will try to restablish normal behaviour and keep you updated soon. Thank you!

[2017-05-12 15:14] edmorley commented on #379
Ah I was missing the `S3_PREFIX="heroku-16/"`. If you could confirm that a local docker image is what is used to build for Heroku-16, I'll open a PR to update the docs in `builds/README.md`.

[2017-05-25 16:36] edmorley opened #388 "pipenv lock errors are not visible in the log"
The pipenv step currently uses:
[code]

This meant the error hit in #386 wasn't visible in the logs, or in the currently failing Travis tests (though they'll need other tweaks too for which I'll file another issue):
https://travis-ci.org/heroku/heroku-buildpack-python/jobs/235746029

IMO the `2> /dev/null` should be removed. (I would open a PR now but it will conflict with #386, so I'll wait until

[2017-05-25 16:39] edmorley opened #389 "Test output for 'assertCapturedSuccess' assertions hides the cause"
Master is currently failing on Travis, with output:
[code]
(See: https://travis-ci.org/heroku/heroku-buildpack-python/jobs/235746031)

Currently:
* neither stdout nor stderr are output (albeit this particular case would also need the fix for #388 too)
* the assertion message is a bit repetitive

I'll open a PR.

[2017-05-25 16:48] kennethreitz commented on #389
thank you!

[2017-05-25 17:57] kennethreitz opened #391 "Fix /app builds"

[2017-05-25 18:46] #389 closed

[2017-05-26 14:23] #391 closed

[2017-05-26 14:23] kennethreitz commented on #388
@edmorley open to a PR!

[2017-05-26 17:17] edmorley commented on #388
This was fixed in #385, the command run is now `pipenv install --system 2>&1 | indent` :-)

[2017-05-26 17:31] edmorley opened #393 "The pip-uninstall step is always a no-op"
The pip-uninstall step aims to uninstall any stale packages from the buildpack python site-packages directory:
https://github.com/heroku/heroku-buildpack-python/blob/master/bin/steps/pip-uninstall

Unfortunately at the moment this isn't working since the sequence of steps are:
* Run `bin/steps/pip-install`, which:
  - runs pip install
  - makes a copy of the app's requirements.txt at `.heroku/pyth

[2017-05-26 17:59] edmorley commented on #379
Ah - I've opened #393 since it turns out pip-uninstall is not working.

Now that the docker image uses a newer bob-builder (#387), newly generated archives shouldn't contain any stale files. However any existing heroku-16 apps will contain them, so I was thinking of opening a PR to bust the build cache (like happens for a new python version) if eg the `bob_builder-0.0.5-py2.7.egg-info` directory w

[2017-05-30 12:25] sharoonthomas opened #394 "Support for collect static with flask assets"
The build pack currency checks explicitly if it's a DJANGO app. To use this with Flask-Assets, my understanding is that you have to write a custom buildpack.

If there was a way to force running something like `python manage.py collectstatic`, a command could be added to a flask app with the same name and static assets collection would be possible with flask too?

[2017-05-30 12:29] edmorley commented on #394
Another option is to add a script at `bin/post_compile` within the app's source directory, which will be run by the buildpack after the compile. See:
https://github.com/heroku/heroku-buildpack-python/tree/master/bin/steps/hooks

[2017-05-30 12:53] sharoonthomas commented on #394
That works too.

Closing the ticket.

For anyone coming here in future:

1. Create a new file `bin/post_compile`
2. Add the following for flask-assets`python manage.py assets clean && python manage.py assets build`

[2017-05-30 12:53] #394 closed

[2017-05-30 17:11] codingjoe opened #398 "Django does find GEOS libraries on Heroku-16"
I'm getting an `ImportError` from Django when switching to the heroku-16 stack.

[code]

After some digging, I don't see the difference. The libraries are installed and the `LD_LIBRARY_PATH` is still the same as it used to be on cedar-14.

I could fix the issue for me by setting `GEOS_LIBRARY_PATH` explicitly in the `post_compile` hook.

`bin/post_compile`
[code]

[2017-05-30 17:26] kennethreitz commented on #398
@codingjoe did setting `GOES_LIBRARY_PATH` fix the issue for you?

[2017-05-30 17:26] kennethreitz commented on #393
Thanks for reporting this!

[2017-05-30 17:32] codingjoe commented on #398
@kennethreitz nope, when connecting to a run dyno yes. But `post_compile` is than only available during build, not during runtime. I'm investigating...

[2017-05-30 18:08] codingjoe commented on #398
Scratch that, it did not work. Hm... strange....

[2017-05-30 18:09] codingjoe commented on #398
Waiting for https://github.com/heroku/heroku-buildpack-python/issues/398

[2017-05-31 02:10] jayvdb opened #400 "requirements 'parser' discards lines with leading space"
pip requirements format allows leading spaces.
This 'parser' will discard those lines:
https://github.com/heroku/heroku-buildpack-python/pull/397/files#r119177564

[2017-05-31 02:14] kennethreitz commented on #400
Thanks for the report! Want to send a PR?

[2017-05-31 02:22] jayvdb commented on #400
Not sure that I could, as I think this requires someone more familiar with the codebase and userbase and roadmap than I.
I would be very inclined to drop the custom parser and a common requirements parsing library, as I am sure that this custom parser has other bugs but havent had time to confirm that.  Leading spaces was just the most obvious bug.

[2017-05-31 05:31] cclauss commented on #400
@jayvdb You have the knowledge to submit a PR...  Just `line.strip()` (with no parameters) before any other processing.  This will get rid of the leading whitespace as well as the pesky '\n' at the end of every line.

[2017-06-01 11:11] guybowden opened #401 "Python builds not working on CI since #e8a79bbda5f2563300b7e5bc280ee4005629243f"
I've just run into an issue whereby my app which was building fine on Monday is now not building:

My runtime.txt is set to 2.7.10

My buildpack was set to `https://github.com/heroku/heroku-buildpack-python.git` - have also tried with `https://github.com/heroku/heroku-buildpack-python.git#v103` & `https://github.com/heroku/heroku-buildpack-python.git#v104`

CI fails as when pip tries to install a

[2017-06-01 14:35] amureki commented on #401
@guybowden hi!
This is not related to buildpack, but to the setuptools: https://github.com/pypa/setuptools/issues/1042

And it was already fixed, so builds should be fine now.

[2017-06-01 17:23] kennethreitz commented on #401
@amureki thanks for the update!

[2017-06-01 17:26] kennethreitz commented on #400
Now that setuptools has shipped a fix for this, we'll be able to remove this code.

[2017-06-03 21:53] #401 closed

[2017-06-03 21:53] #400 closed

[2017-06-03 21:54] kennethreitz commented on #400
This code was temporary and was removed.

[2017-06-03 21:54] kennethreitz commented on #393
@edmorley I changed the ordering here again.

[2017-06-12 16:00] edmorley commented on #379
Using this:
[code]

Generated:
https://emorley.pastebin.mozilla.org/9024396

...which means the list of runtimes that need regenerating for Heroku-16 are:
* python-2.7.9
* python-2.7.10
* python-2.7.11
* python-2.7.12
* python-2.7.13

@kennethreitz, if you could regenerate those at some point, I'll then open a PR to detect existing apps that contain the stale files and force a Python environment r

[2017-06-12 23:27] kennethreitz commented on #379
@edmorley that would cause a lot of pain for a lot of customers — i think it would be better to leave the files be, unfortunately. I'll work on regenerating the binaries, however.

[2017-06-12 23:37] edmorley commented on #379
I was thinking along the lines of requiring all of the following to be true:
* stack=heroku-16
* using one of those specific Python 2.7.x versions
* site-packages contains both bob-builder=0.0.5 and envoy==0.0.3

...which is pretty specific, and would only catch heroku-16 early-upgraders.

Is the pain due to customers not pinning Python requirements, so not having them cached could pull in a newer

[2017-06-13 21:28] kennethreitz commented on #379
well bob-builder and envoy get automatically uninstalled, so it's not a huge deal.

[2017-06-13 21:34] edmorley commented on #379
For apps created since #397 landed (which fixed #393), yes. However for older apps, their `requirements-declared.txt` will have already been overwritten several times over, so bob/envoy/... won't be uninstalled.

[2017-06-13 21:37] edmorley opened #411 "requirements-installed.txt is never used"
Broken out of #393.

During the `pip-install` script, `pip freeze` is run and the output saved to `requirements-installed.txt`. However this file is currently unused. (I'm presuming it was a leftover from an alternative pip-uninstall implementation, which compares to the installed packages list rather than requirements files.

https://github.com/heroku/heroku-buildpack-python/blob/master/bin/steps

[2017-06-13 21:46] edmorley opened #412 "Add support to pip-uninstall for included/cascading requirements files"
Broken out of #393.

For apps that use includes in their requirements files, `pip-uninstall` currently doesn't work.

For example:
[code]

[code]

If later `main.txt` were edited to remove `gunicorn`, pip-uninstall only uses the saved `requirements-declared.txt` file (which was copied from `requirements.txt`), which doesn't retain all of the old state. See:
https://github.com/heroku/heroku-buildpa

[2017-06-13 21:48] edmorley commented on #393
Indeed! Fixed by:
https://github.com/heroku/heroku-buildpack-python/pull/397/files#diff-c7b43338c09c3c9afd420fd8b6bb5198R174

I've split out the remaining parts of this to #411 and #412.

Many thanks!

[2017-06-13 21:50] edmorley commented on #379
Anyway, I understand it's safer to leave them as is, and it doesn't affect me, since I can always clear the cache manually :-)

[2017-06-13 21:50] kennethreitz commented on #411
requirements-installed is used out-of-band by the platform.

[2017-06-13 21:50] kennethreitz commented on #411
e.g. it's just useful metadata

[2017-06-13 21:50] #411 closed

[2017-06-13 21:54] edmorley commented on #411
Oh right. It's just the comment immediately above it says "Smart Requirements handling". When I get a second I'll add a comment/whitespace to make that clearer (unless someone else beats me to it).

[2017-06-13 21:56] kennethreitz commented on #412
Patches would be well-recieved, but they would also have to be battle-tested before being merged. We used to have this functionality, and it was problematic. People have *crazy* requirements files.

[2017-06-13 23:06] edmorley commented on #393
Ah actually I spoke too soon. That PR was reverted in #404.
I've opened PR #413 to re-fix this and add a test.

[2017-06-13 23:21] edmorley commented on #398
Reading the Django source, I believe `GOES_LIBRARY_PATH` needs to be set in Django settings rather than directly in the environment (though likely worth setting that via `os.environ` / the django-environ package):
https://github.com/django/django/blob/1.11.2/django/contrib/gis/geos/libgeos.py

Strange that it's still not working out of the box however.

[2017-06-14 21:15] #393 closed

[2017-06-14 23:18] kennethreitz commented on #398
I believe the GEOS libraries aren't functional on heroku-16, even though they're identical copies to the working ones on cedar-14. The binary needs to be rebuilt for heroku-16, but i'm having trouble doing so. Might take another approach, possibly (adding it to the build stack image).

[2017-06-21 19:26] codingjoe commented on #398
@kennethreitz yes, that would be cool. I'd love to switch to heroku-16

[2017-06-22 17:03] kennethreitz commented on #398
I think I figured out a way to run the build. Executing now. Will post an update if it succeeds.

[2017-06-29 07:23] LegoStormtroopr opened #416 "Please enable 'sub-env' at the pip install step"
This is basically to support installing from private repos without having to expose credentials.

I want to add an API token for GitLab or GitHub into my heroku dashboard and have that used to install a private repo, like so:

[code]

With a `requirements.txt` like this:
[code]

Everything works fine locally, if I do: `GITLAB_TOKEN=my_secret_key pip install -r requirements.txt`

But on heroku, the

[2017-06-29 10:04] maikhoepfel commented on #398
Hi @kennethreitz, did you have a chance to investigate this further? If I'm not mistaken, this is an issue for all GeoDjango installations on Heroku. I'm happy to have a look - could you share your progress so far?

[2017-06-29 13:55] kennethreitz opened #418 "pip appears broken on old pythons"

[2017-06-29 14:15] kennethreitz commented on #416
closing for https://github.com/heroku/heroku-buildpack-python/pull/417

[2017-06-29 14:15] #416 closed

[2017-06-29 23:45] EmSyndio opened #419 "migrate fails but deploy succeeds"
I am having an issue where one of my migrations fails (still trying to figure why)
but mostly critical is that even though it failed, the deploy succeeds and my app is now broken on prod!

I'm looking for help debugging the migration on heroku, because I only get a stack trace with an ImpotError which doesn't make sense to me since a prior migration uses the same import and seems to work.

How do

[2017-06-29 23:52] EmSyndio commented on #419
added the migration step in the Procfile
release: python manage.py migrate --noinput

and then it fails to deploy.
but migrate is ran in the build command, and errors are not caught there.

[2017-06-30 00:11] edmorley commented on #419
Migrate should never be run during the buildpack compile, only as part of the [release-phase](https://devcenter.heroku.com/articles/release-phase) release command.

How do you mean? Are you using the `bin/post_compile` hook/script?

[2017-06-30 00:20] EmSyndio commented on #419
@edmorley migration runs on the build phase for sure.
I think this is ne from this PR https://github.com/heroku/heroku-buildpack-python/pull/358

[2017-06-30 00:21] EmSyndio commented on #419
My issues seems to be due to a mismatch in Postgres version.
I'm working on that part. Nevertheless, as I mentioned, the build 'succeeds' when it shouldn't.

[2017-06-30 00:22] EmSyndio commented on #419
My bad, i guess the PR mentioned was closed.
Yet my migrations are running on build, so not sure where this is coming from.

[2017-06-30 00:23] edmorley commented on #419
A pastebin of the build log might make things clearer?

[2017-06-30 00:26] edmorley commented on #419
Your repo has a `bin/post_compile` file, which the buildpack is running:

You should remove migrate from that file, since the buildpack compile should not affect external services (only eg files that end up in the slug). For more reasoning, see: https://github.com/heroku/heroku-buildpack-python/pull/358#issuecomment-276041951

[2017-06-30 00:28] EmSyndio commented on #419
@edmorley ahhh. OK got it. I didn't even know we had this there...
I thought the post compile was from the buildpack

[2017-06-30 00:32] EmSyndio commented on #419
Thanks. will update. I guess this has been there for longer than the feature has been available.

[2017-06-30 00:36] edmorley commented on #419
The buildpack has some hooks that allow for custom scripts to be run before/after compile if the relevant file is present in the source repo:
https://github.com/heroku/heroku-buildpack-python/tree/master/bin/steps/hooks

For the right use-cases these are super handy, for example:
* installing additional libraries before compile, that are needed for pip to be able to build a package
* running addit

[2017-06-30 00:41] edmorley commented on #419
Also, to ensure the build still fails if one of your custom commands in `bin/post_compile` fails, make sure to enable bash exit-on-error:
http://redsymbol.net/articles/unofficial-bash-strict-mode/

...otherwise the exit code of the script will be that of the last command run within it, which in this case was presumably something other than the migrate command.

[2017-07-04 22:30] jacebrowning commented on #418
I just had to delete `runtime.txt` containing `python-3.5.0` to get my app to deploy.

[2017-07-06 01:58] EmSyndio commented on #419
So, I moved the script to 'release' but it doesn't seem to run.
I didn't notive at first because migrations had run already, but after adding a new migration, these don't get ran.

How comes release is not running?

[2017-07-06 02:33] edmorley commented on #419
Could you pastebin the deploy log and also your Procfile? (Plus if the Procfile references another script, pastebin that too)

[2017-07-06 11:41] cclauss opened #420 "Writing the elapsed time of the compile step to the log?"
The [compile step](../blob/master/bin/compile) is the key deliverable of this buildpack.  It would be helpful if the last action of the compile step was the write the elapsed time and any activated URL to the main log.  Being exposed to this information on a regular basis would encourage both the developers and the users of the buildpack to optimize its performance.  Writing this info to the log w

[2017-07-13 09:07] phil opened #421 "Memory amount for DYNO_RAM on Performance-L Dynos should be `14000`"
https://github.com/heroku/heroku-buildpack-python/blob/84f2fb5396469f5c9532806a17da70d682fd7a47/vendor/WEB_CONCURRENCY.sh#L25

[2017-07-14 19:04] kennethreitz commented on #420
Thanks for the idea!

[2017-07-17 16:40] edmorley opened #424 "Exclude Python's test suite from generated Python archives"
The output from a build of Python using default options includes Python's own test suite, which is significant in size compared to Python itself. As such, the official Docker Python images strip the test suite directories after building Python:
https://github.com/docker-library/python/blob/761d766baa0ff33754436c0a1fd9aedc68cf7947/Dockerfile-debian.template#L54

As such, it makes sense for this bui

[2017-07-17 16:49] kennethreitz commented on #424
This sounds like a healthy improvement! Python's size isn't a problem at the moment, but improvements are always welcome.

[2017-07-17 16:51] kennethreitz commented on #424
The real improvement here isn't reducing the size (which will help speed up download times), but the number of files created, in my opinion. The fewer files in the tarball the better, they take a while to create on disk.

[2017-07-17 17:00] #424 closed

[2017-07-17 17:01] kennethreitz commented on #424
These changes will be rolled out in the next release of Python.

[2017-07-17 17:06] edmorley commented on #424
Very true -- I've re-run the builds and added the filecounts above - it halves the number of files.

[2017-07-17 17:11] kennethreitz opened #426 "Investigate side-loading miniconda"
http://docs.cloudfoundry.org/buildpacks/python/index.html#miniconda-support-(starting-in-buildpack-version-1.5.6)

[2017-07-17 17:17] edmorley commented on #379
With the fix for this as well as #425, for Python 2.7.13 the improvements are considerable...
* Size: 157MB -> 91MB
* File count: 6678 -> 2345

[2017-07-18 13:30] edmorley opened #427 "Issues with the vendored sqlite/libsqlite"
Some context:
* Python has a run-time dependency on `libsqlite3-0` and a build-time dependency on `libsqlite3-dev`.
* The [Python build scripts](https://github.com/heroku/heroku-buildpack-python/blob/78767e71996ddde2de5fdb84fc1e0291cc5fe4e3/builds/runtimes/python-2.7.13#L3) used for this buildpack vendor a [custom-built sqlite](https://github.com/heroku/heroku-buildpack-python/blob/78767e71996ddde

[2017-07-20 13:30] edmorley commented on #379
@kennethreitz, I don't suppose you know when you might be able to do this? The binaries that need regenerating for Heroku-16 are:
* python-2.7.9
* python-2.7.10
* python-2.7.11
* python-2.7.12
* python-2.7.13

Many thanks :-)

Sadly only bob-builder is uninstalled and not also {boto, envoy, docopt}:
[code]
(See https://dashboard.heroku.com/apps/treeherder-prototype/activity/builds/19c9f181-64ce-41

[2017-07-20 18:06] kennethreitz commented on #379
Ah, interesting observation! That motivates me to rebuild. Thanks for the info.

[2017-07-20 18:11] kennethreitz commented on #424
That's fantastic news. I might do a rebuild of 3.6.2 then.

[2017-07-20 18:13] kennethreitz commented on #427
/cc @dzuelke. Thoughts on adding `libsqlite3-dev` to the `heroku:16-build` image?

[2017-07-20 18:13] kennethreitz commented on #427
I don't think this will change any time soon, but I'm also interested in hearing David's thoughts on this.

[2017-07-20 18:37] dzuelke commented on #427
The reason it's not there is historical: to prevent Rails apps from building with a "local DB" sqlite gem. I think we should revisit this in the interest of consistency. /cc @hone @schneems

[2017-07-20 18:45] schneems commented on #427
Having sqlite on the platform would make detecting an extremely common "wrong" thing that Rails devs do much harder (maybe impossible).

[2017-07-20 18:59] edmorley commented on #427
@schneems, I presume you're referring to this?
https://github.com/heroku/heroku-buildpack-ruby/blob/ef2a0a9f14ebb9ec6e9e902db5c8058af2ffc164/lib/language_pack/ruby.rb#L633-L639

Could this case be detected by grepping the gem install log for 'sqlite', or else running `gem list` and grepping that?

Also, if "prevent people from accidentally using sqlite on an ephemeral filesystem" is a goal, then p

[2017-07-20 19:01] schneems commented on #427
@edmorley we can already parse the Gemfile.lock and we know exactly which gems are installed. The issue is that a minority of users have installed sqlite3 via a buildpack and actually use it for some valid reason, so if we detect the gem and fail we will be preventing valid users from doing a valid thing on Heroku.

[2017-07-20 20:01] kennethreitz commented on #427
sqlite is part of the standard library, and is expected to be importable for certian libraries — for example, the every-important iPython. Therefore, Python supports it.

[2017-07-24 16:09] otanner opened #428 "Heroku-16 GDAL vendor libraries are empty"
Hi,

I'm unable to get GDAL working with Heroku-16 stack. After couple of hours debugging it looks like when the step in compile phase fetches pre-compiled vendor packages for gdal, the package is empty:

Package for cedar-14:

[code]

Package for heroku-16:

[code]

Could you please provide a working pre-compiled GDAL package for Heroku-16 stack as well.

The step I'm referring can be found here:

[2017-07-24 16:24] otanner commented on #428
Just to mention, this issue breaks the `BUILD_WITH_GEO_LIBRARIES` support for GDAL as well.

[2017-07-25 12:39] edmorley opened #429 "DEFAULT_PYTHON_STACK is set to cedar-14"
In `bin/compile` there is:
[code]

The default stack for Heroku is now heroku-16, so this should be updated.

However this variable is only used once in the buildpack, here:
[code]

I don't think it makes sense to have a fall-back default stack since it may not match the actual OS being used and could result in a Python binary being installed that won't run on that system.

This was added 3 years

[2017-07-26 02:37] kennethreitz commented on #429
this is for use on other platforms that don't have a STACK environment variable. there are a surprising number of people out there using buildpacks on not-Heroku.

[2017-07-26 02:38] #429 closed

[2017-07-26 02:38] kennethreitz commented on #428
Thanks, a fix is in progress.

[2017-07-26 08:12] edmorley commented on #429
Yeah I guessed as much, but I still don't think it's the best thing to do.

Someone using this stack outside of Heroku without STACK set on xenial will end up with strange breakage that's hard to track down, whereas an explicit `echo "STACK not set!" && exit 1` would make it much more clear.

I'll open a PR when I get a chance.

[2017-07-26 19:11] kennethreitz commented on #429
There is an establish pattern of people using cedar-14 compatible stacks with their buildpacks, it seems.

[2017-07-26 19:11] kennethreitz commented on #429
we can test this by switching it to heroku-16 and see who yells at us

[2017-07-26 19:12] kennethreitz commented on #429
Also, STACK might not be set during Heroku CI, I'd have to check.

[2017-07-26 19:12] kennethreitz commented on #429
in general, i'm a fan of not touching this part of the codebase

[2017-07-31 23:17] kennethreitz commented on #379
Deployed! ✨🍰✨

[2017-07-31 23:18] kennethreitz commented on #424
Deployed 3.6.2! ✨🍰✨

[2017-08-01 12:39] codingjoe commented on #428
This is a duplicate to https://github.com/heroku/heroku-buildpack-python/issues/398

[2017-08-01 18:33] #428 closed

[2017-08-01 18:45] kennethreitz commented on #428
This should be fixed shortly, as soon as the build is complete!

[2017-08-01 18:45] kennethreitz commented on #398
This should be fixed shortly, as soon as the build is complete!

[2017-08-01 18:47] kennethreitz opened #433 "Add libgeos tests to buildpack"

[2017-08-01 18:53] kennethreitz commented on #398
Build complete!

[2017-08-01 18:53] kennethreitz commented on #398
✨🍰✨

[2017-08-01 18:54] kennethreitz commented on #428
Build complete! ✨🍰✨

[2017-08-02 18:03] kennethreitz opened #434 "Convert buildpack tests to using bats"

[2017-08-02 18:04] kennethreitz opened #435 "Make buildpack shellcheck complaint"
Should be possible

[2017-08-02 18:04] kennethreitz opened #436 "Investigate sideloading miniconda when available"
[Cloudfoundry's Python buildpack](https://github.com/cloudfoundry/python-buildpack) does it.

[2017-08-02 18:05] kennethreitz commented on #433
Might defer this to after https://github.com/heroku/heroku-buildpack-python/issues/434

[2017-08-02 18:41] #426 closed

[2017-08-02 18:41] kennethreitz commented on #436
http://docs.cloudfoundry.org/buildpacks/python/index.html#miniconda-support-(starting-in-buildpack-version-1.5.6)

[2017-08-02 18:44] kennethreitz commented on #436
More info: https://www.pivotaltracker.com/n/projects/1042066/stories/118752873

[2017-08-03 00:00] kennethreitz commented on #433
done!

[2017-08-03 00:00] #433 closed

[2017-08-03 00:00] kennethreitz commented on #434
i'd like to do this, but shunit seems to be working just fine — no need to do needless work.

[2017-08-03 00:00] #434 closed

[2017-08-03 04:32] leonL opened #439 "cannot import name 'GDALRaster'"
Hi. I'm having trouble configuring a heroku-16 instance to support GeoDjango. I've followed the documentation on the Heroku site closely, but always encounter the error:

[code]
Could this be related to any of the recent issues/changes related to this repo having to do with GIS dependencies like GDAL and GEOS. Thanks for any ideas.

[2017-08-03 08:50] maikhoepfel commented on #398
Good stuff, thanks Kenneth!

[2017-08-03 12:44] edmorley commented on #424
Looks great - thank you :-)

[2017-08-03 12:46] edmorley commented on #379
Many thanks! All of the versions [here](https://github.com/heroku/heroku-buildpack-python/issues/379#issuecomment-316703334) are now fixed - apart from one: 2.7.12.

I don't suppose you could upload that last one? :-)

[2017-08-03 21:40] kennethreitz commented on #439
Hmm, this support is a bit janky. Let me try to reproduce. Can you share your settings file?

[2017-08-03 21:49] kennethreitz commented on #439
This is working well for me!

[2017-08-03 21:49] kennethreitz commented on #439
Did you `$ heroku config:set BUILD_WITH_GEO_LIBRARIES=1`?

[2017-08-03 22:42] kennethreitz commented on #379
Rebuilding

[2017-08-03 22:45] kennethreitz commented on #379
deployed

[2017-08-03 23:17] edmorley commented on #379
All good now - many thanks!

[2017-08-03 23:17] #379 closed

[2017-08-03 23:55] edmorley opened #440 "Warn on updated Pythons"
Similar to heroku/heroku-buildpack-ruby#611, I think it would be a good idea to warn if the Python version isn't explicitly specified in runtime.txt. (Though unlike that case it needn't block heroku/heroku-repo#70).

[2017-08-04 00:39] kennethreitz commented on #440
I don't think that's a good idea.

[2017-08-04 00:47] #435 closed

[2017-08-04 00:47] edmorley commented on #440
By warn I don't mean fail the compile, instead output a friendly "We notice that the Python version isn't explicitly specified. It's recommended to do, see <devcenter link>". Context:
https://github.com/heroku/heroku-repo/issues/70#issuecomment-318448112

[2017-08-04 02:22] kennethreitz commented on #436
slugs are too big.

[2017-08-04 02:22] #436 closed

[2017-08-04 02:23] kennethreitz commented on #440
I don't recommend to do so — 99% of apps don't specify one.

[2017-08-04 02:24] kennethreitz commented on #440
I don't want to clutter up 99% of builds with a warning they don't need to see.

[2017-08-04 08:40] edmorley opened #441 "pipenv-python-version warning about no pipfile.lock can never be reached"
Since the `[[ ! -f $BUILD_DIR/Pipfile.lock ]]` conditional is inside a `[[ -f $BUILD_DIR/Pipfile.lock ]]`conditional (the exact inverse) and so will never be true:
https://github.com/heroku/heroku-buildpack-python/blob/f74d4db8c5953b39ef69852157ad8f78d678bf8d/bin/steps/pipenv-python-version#L8-L10

I'm presuming the first conditional is meant to check for the presence of `Pipfile` rather than `Pip

[2017-08-04 15:38] leonL commented on #439
Hi @kennethreitz, thanks for your help.

 I did set BUILD_WITH_GEO_LIBRARIES=1, yes but I have a feeling it's not working: The echo statements displayed when I push my repo to heroku don't show any evidence of the related dependencies being installed and when I try gdal.HAS_GDAL from the python shell I get False.

My settings file looks like this...

import os
import dj_database_url

BASE_DIR = os

[2017-08-05 19:01] daegloe opened #444 "Error downloading NLTK corpora"
Hi, we are no longer able to download and install the NLTK corpora via this build pack.

We receive the deployment error below, no matter the packages listed in the `nltk.txt` file:

[code]

[2017-08-05 19:39] cclauss commented on #444
The second last line is asking you to enter text on the keyboard but since you are not there to do so, it is dying on no input from the user.

Is three a way to echo "y" into this process or run it with --yes or --force, etc.?

[2017-08-08 01:17] kennethreitz commented on #444
interesting — can you try downgrading your nltk package to an earlier version that doesn't ask?

[2017-08-08 01:17] kennethreitz commented on #444
we may be able to use `expect` to automate this, if there isn't a flag for automated installs.

[2017-08-08 01:19] kennethreitz commented on #439
Are you on `heroku-16` stack?

`$ heroku stack`

[2017-08-08 01:42] leonL commented on #439
I am, yes.

[2017-08-08 01:51] daegloe commented on #444
Thanks for following up.

If you look closely at the log snippet, the install fails and then prompts to retry. The question is why does the install fail on Heroku, but succeed locally?

FWIW, we haven't upgraded our NLTK version. This was working with the build pack until recently.

Could an infrastructure change be the culprit?

[2017-08-08 01:52] daegloe commented on #444
It seems to be ignoring the line breaks when reading the packages listed in the `nltk.txt` file.

[2017-08-08 16:31] leonL commented on #439
@kennethreitz, FYI I just performed the following test, which perhaps isolates the problem...

1. I created a new heroku app with 'heroku create' (polar-wave-72434 on stack-16)
2. I pushed https://github.com/heroku/python-getting-started.git to it and made sure it was running
3. I ran 'heroku config:set BUILD_WITH_GEO_LIBRARIES=1?' and performed another push (one of the log statements returned fro

[2017-08-08 16:34] leonL commented on #439
@kennethreitz, could you please post the process you are taking to test that the dependencies are installing correctly on the Heroku build? I'll try reproducing it, and perhaps it will give me some insight into what I need to change on my builds to make it work.

Thanks,
Leon

[2017-08-08 17:33] leonL commented on #439
@kennethreitz, I changed my stack to cedar-14 and it solved all my problems. I'm gonna stay on that stack for the time being. If there's anything you'd like me to try out on the heroku-16 stack I'm happy to help.

Best, L.

[2017-08-09 13:25] RandomOS opened #445 "Error pip install validators==0.12.0"
Hi, I receive the deploy error below, when validators==0.12.0 in the requirements.txt
My Stack is heroku-16.
[code]

It seems setuptools is not installed by default，but validators==0.12.0 depends on some feature of setuptools that distutils can't provide.

* Reference
https://stackoverflow.com/questions/8295644/pypi-userwarning-unknown-distribution-option-install-requires

[2017-08-10 18:43] kennethreitz commented on #421
fixed by https://github.com/heroku/heroku-buildpack-python/pull/446

[2017-08-10 18:43] #421 closed

[2017-08-10 23:57] kennethreitz commented on #445
setuptools is installed by default.

please remove `pip` from your `requirements.txt`.

[2017-08-10 23:57] #445 closed

[2017-08-10 23:57] kennethreitz commented on #445
you may need to purge your cache

https://github.com/heroku/heroku-repo

[2017-08-12 07:32] kennethreitz commented on #444
@daegloe are you on windows?

[2017-08-12 13:33] daegloe commented on #444
No, Mac OS Sierra.

[2017-08-13 18:53] RandomOS commented on #445
@kennethreitz thanks, purge cache slove my problem.

[2017-08-15 13:20] codingjoe opened #447 "/app/.heroku/python/bin/pip: No such file or directory"
Hi I get this error all of a sudden. Cache is clean, stack is `heroku-16`.

[code]

[2017-08-15 13:28] codingjoe commented on #447
Never mind. Only on Python 3.5.1. Once up update to 3.6.2 it works.

[2017-08-15 13:28] #447 closed

[2017-08-15 14:14] edmorley opened #448 "Git tag missing for the v110 release"
https://github.com/heroku/heroku-buildpack-python/blob/master/CHANGELOG.md#110
https://github.com/heroku/heroku-buildpack-python/releases

[2017-08-15 14:20] edmorley commented on #447
I can repro this using a clean cache and the stable `heroku/python` buildpack release (v110).

The issue is that the Python 3.5.1 binary doesn't exist for Heroku-16 (only the more recent runtime versions were built for Heroku 16, the [builds/runtimes/](https://github.com/heroku/heroku-buildpack-python/tree/master/builds/runtimes) directory contains the versions that were built for it):
[code]

The

[2017-08-16 21:57] zachmccormick commented on #439
Hey y'all! I think I solved this with https://github.com/heroku/heroku-buildpack-python/pull/449 - if you want to specify my branch with these changes, you can use `https://github.com/TrailblazingTech/heroku-buildpack-python#fix-gdal-jasper`.

You will need to add two lines to your settings.py as I detailed in the PR as well, so that Django can load gdal and geos.

[2017-08-22 11:58] edmorley opened #453 "Output the Python version when restoring from cache"
In #440 it was mentioned that 99% of apps don't specify a Python version via a checked-in runtime.txt and instead rely on the default Python version provided by the buildpack.

In addition, the buildpack uses a sticky version -- that is whilst the buildpack default Python version does increase over time, an app will always use the version that was the default when it was first created [1].

This m

[2017-08-22 12:12] edmorley commented on #440
Some context...

My main concern was how the following interact:
* The desire to have minimal setup required for new apps (ie have runtime.txt be optional)
* Sticky Python versions (ie never update to newer default Python, re-use the version first used)

...in that it means 99% of apps will always be using out of date Python and not even know it.

In an ideal world where Python patch version updat

[2017-08-25 09:07] prashnts opened #455 "grep outputting usage during slug compile"
While compiling slug for a Python 2.7 app, there's a lot of usage info for `grep`. Output is below:

[code]

Note that the slug did compile successfully, but this error/help did not occur earlier.

[2017-08-25 09:51] edmorley commented on #455
Hi! I tried reproducing using a Heroku-16 test app, that had the buildpack set to https://github.com/heroku/heroku-buildpack-python.git however didn't get that log output.

What stack are you using (see `heroku stack`), and what is the output from `heroku buildpacks`? What was the timestamp for that build? (v111 of the buildpack was released ~13 hours ago)

Looking for instances of grep in the bui

[2017-08-25 13:54] Coalpaw commented on #455
I had this pop up for a client app that I maintain.  It is still using cedar-14

[code]

[2017-08-25 13:58] prashnts commented on #455
I'm on `heroku-16` stack.

[code]

Note that there's also a `runtime.txt`:
[code]

[2017-08-25 18:01] kennethreitz commented on #455
Will investigate. I saw this yesterday too, but didn't have enough time to look into it.

[2017-08-26 01:20] kennethreitz commented on #440
Let's warn if they don't have runtime.txt set AND python is out of date!

[2017-08-26 01:20] kennethreitz commented on #440
in fact, let's simply things.

Let's just warn if Python's out of date, period.

[2017-08-28 06:56] kennethreitz commented on #439
@zachmccormick really looking forward to trying out your changes this week!

[2017-08-28 19:19] ian-axelrod opened #457 "Pull #456 causes locale lookup failure in 3.6.2 builds"
https://github.com/heroku/heroku-buildpack-python/pull/456's change to stdlib version fetched causes the following error in python 3.6.2 builds:

[code]

[2017-08-28 22:39] thejo commented on #455
I'm seeing the same grep usage logs, but the slug compiles.

`heroku-16` stack and Python 3.6.0.

[2017-08-29 01:22] kennethreitz commented on #455
@thejo this should have been fixed today. When were you seeing this?

[2017-08-29 02:32] thejo commented on #455
@kennethreitz I saw it over the weekend. I just deployed an update and can confirm that the issue is fixed.

[2017-08-29 04:08] kennethreitz commented on #455
\o/ Sorry about the bug. Bash can be tricky sometimes!

[2017-08-29 04:08] #455 closed

[2017-08-29 04:56] kennethreitz commented on #457
I actually think this is unrelated. It looks like your Python is broken somehow, by the `heroku config` variables you have set.

[2017-08-29 05:14] kennethreitz commented on #453
Closing for #440

[2017-08-29 05:14] #453 closed

[2017-08-29 05:15] thejo commented on #455
@kennethreitz it happens! Thanks for the quick fix.

[2017-08-29 11:17] stevejalim commented on #457
We're having this issue too, when things were fine 4 days ago (before the long weekend). No code changes at our end have happened re runtimes etc.

Am exploring what the config pain might be now.

FWIW:

`runtime.txt` is:

[code]

The only config vars that aren't related to our app are:

[code]

[2017-08-29 12:06] ian-axelrod commented on #457
We've not made any changes to our python related variables, but I'll investigate more.

[2017-08-29 12:15] stevejalim commented on #457
OK, making this change to our Heroku Settings / `heroku config` values fixed it for us:

`PYTHONHOME:                      /app/.heroku/python/`

(cc @ian-axelrod)

----
I noticed that what we had specced in the config (`/app/.heroku/venv/`) wasn't the same as what was actually exported in a running one-off dyno (`/app/.heroku/python/`) so I updated the config to match and deploys started working

[2017-08-29 13:22] Coalpaw commented on #457
I had the same issue with some apps I inherited.  I made the same change (setting `PYTHONHOME` to `/app/.heroku/python/` from `/app/.heroku/venv/`, along with a corresponding change to the `PATH`).  Curious as to why this stopped working but it does appear that the buildpack prefers `/app/.heroku/python/` event though it used to use `/app/.heroku/venv/`.

[2017-08-29 13:55] edmorley commented on #457
I believe the problem is that the custom `sub-env` function previously implemented in this buildpack has been replaced by the buildpack-stdlib's `sub_env` which is actually subtly different in behaviour, as part of #456.

The implementation previously used by this buildpack:
https://github.com/heroku/heroku-buildpack-python/blob/845635d66710d0e37d909c725ced1dbdcb418b60/bin/utils#L56-L78

The build

[2017-08-29 13:58] stevejalim commented on #457
@edmorley That would fit with my experience (and also strongly imply that I could just remove PYTHONHOME - and prob PYTHONPATH - from our configs). 👍

[2017-08-29 14:09] edmorley commented on #457
Yes - I would try unsetting those from the app configs (after making a note of the previous value in case you need to revert).

Failing that, as a workaround in the meantime pin to the previous buildpack release (v110 probably your best bet to avoid the grep output warnings spam), following the steps here:
https://devcenter.heroku.com/articles/buildpacks#buildpack-references

...though if you do t

[2017-08-29 14:16] stevejalim commented on #457
I don't think we need to roll back buildpacks - we're able to deploy. I will try `unset`ting those vars later, though

[2017-08-29 15:13] edmorley commented on #448
The v111 and v112 tags are missing too.

The lack of these tags makes it less straight-forwards for people to roll back to a previous buildpack release in case of issues with the `heroku/python` stable release (eg #457).

[2017-08-29 15:27] ian-axelrod commented on #457
I unset the variables (`PYTHONPATH` and `PYTHONHOME`) and builds work for me now. Greatly appreciated, @stevejalim & @edmorley.

[2017-08-29 17:37] kennethreitz commented on #457
Will investigate Blacklisting those variables today.

[2017-08-29 17:38] kennethreitz commented on #448
This is a side-effect of our new master branch protection, which gave me a mental block from pushing to the master branch (including pushing git tags — even though that's allowed). Sorry for the trouble.

[2017-08-29 17:38] kennethreitz commented on #448
Just pushed a tag for v112.

[2017-08-29 17:39] kennethreitz commented on #448
TODO:

- [ ] Add tag for v110
- [ ] Add tag for v111

[2017-08-29 17:39] kennethreitz commented on #448
Need to find the right refs first.

[2017-09-04 17:05] edmorley commented on #441
This was fixed in #458.

[2017-09-04 17:05] #441 closed

[2017-09-04 17:05] edmorley commented on #419
@EmSyndio can this be closed now?

[2017-09-04 17:10] kennethreitz commented on #419
Thanks for the help @edmorley :) ✨🍰✨

[2017-09-04 17:12] kennethreitz commented on #441
yessir!

[2017-09-04 17:18] edmorley commented on #444
The buildpack converts `nltk.txt` to the space separated package list using:
[code]
(See: https://github.com/heroku/heroku-buildpack-python/blob/fd360bda149687536b26ac413185a6c2b5953bca/bin/steps/nltk#L24)

Is your file using CRLFs or CRs instead? What does `tr "\n" " " < nltk.txt` show locally?

[2017-09-04 17:41] edmorley commented on #444
Whilst the `Error installing package. Retry? [n/y/e]` prompt seen in the OP isn't the cause of the problem, it is confusing and also means that retries won't be happening in the case of transient network issues.

It turns out it can be suppressed by using the `quiet` option, however that means losing out on the standard log output. Ideally if no TTY is attached the prompt would be skipped - so I'v

[2017-09-04 17:43] cclauss commented on #444
@edmorley Would https://github.com/heroku/heroku-buildpack-python/issues/444#issuecomment-320466015 work?

[2017-09-04 17:45] edmorley commented on #444
No since in this case the package names are invalid, so retrying wouldn't help.

[2017-09-04 17:49] kennethreitz commented on #444
@edmorley thanks for filing that ticket!

[2017-09-04 17:59] edmorley commented on #444
Ah actually the problem isn't due to the line endings, it's that the buildpack passes the package list quoted. Doing so works when there is only one package, but not when there are several.

Compare:
[code]

to:

[code]

The double quotes added by #438 should be removed.

[2017-09-05 10:13] edmorley commented on #444
I've opened #460 which will fix this. In the meantime you could roll back to release v110 (whose git tag is unfortunately missing, #448) or else v109 using the syntax here:
https://devcenter.heroku.com/articles/buildpacks#buildpack-references

(If you choose to do that, I'd recommend switching back to the `heroku/python` buildpack alias later, so you continue to receive updates)

[2017-09-05 13:32] #444 closed

[2017-09-05 15:09] edmorley commented on #416
Thinking about this, I wonder if you could instead use a `.netrc` to pass the credentials?
This could be populated using just this buildpack via a `bin/pre_compile` file in your repository that pulled the token out of the app environment variables (this is run by the buildpack [here](https://github.com/heroku/heroku-buildpack-python/blob/master/bin/steps/hooks/pre_compile)).

Alternatively an addi

[2017-09-05 15:20] kennethreitz commented on #416
Pip uses Requests, which in turn supports netrc (unless they've disabled it).

[2017-09-06 09:00] edmorley commented on #448
The new v115 release's tag is missing too (it should be on master, which is at d4b8c2aeda335c48b9f7dd6731c4b406d319ae1e).
I'll file an issue for adding a way to automate this :-)

By modifying the buildkits plugin so it dumps the raw JSON response from `heroku buildkits:revisions heroku/python`, I found an additional `tar_link` property not normally output, which gives the previous buildpack URLs

[2017-09-06 10:43] edmorley opened #468 "Automate adding the git tag when publishing a new release"
To reduce the chance of forgetting to add the git tag to the repository when a new buildpack version is published using `heroku buildkits:publish`, it would be great to add some automation.

I was thinking perhaps a Makefile command (or several) that between them:
* helped adding a git tag
* made sure the version being published was from that exact tagged revision (eg not accidentally on a feature

[2017-09-06 11:32] edmorley commented on #468
I've found some more scripts some other buildpacks use:
https://github.com/heroku/heroku-buildpack-java/blob/master/etc/publish.sh
https://github.com/heroku/heroku-buildpack-go/blob/master/bin/publish

[2017-09-06 16:39] kennethreitz commented on #448
@edmorley you're a gentleman and a scholar.

Pushed tags.

[2017-09-06 16:39] #448 closed

[2017-09-06 16:40] kennethreitz commented on #468
I'm apt to make a `publish.py` :)

[2017-09-06 17:33] edmorley commented on #448
Looks great - many thanks :-)

[2017-09-15 17:58] edmorley commented on #444
@daegloe could you confirm that #460 fixed this? It's present in any tagged version from 114 onwards, and also via the `heroku/python` stable version alias.

[2017-09-15 18:12] daegloe commented on #444
yes, all good now. thanks @edmorley!

[2017-09-15 18:57] kennethreitz commented on #444
✨🍰✨

[2017-09-20 20:50] edmorley commented on #427
Another option here would be to use an approach similar to [heroku-buildpack-apt](https://github.com/heroku/heroku-buildpack-apt) and create temporary APT cache/state directories, allowing `apt-get update` and then `apt-get download` as non-root, to download the `.deb` package for `libsqlite3-dev` as part of the Python build script. This would then be extracted and referenced during the build, and

[2017-09-26 15:44] kennethreitz commented on #468
i think i'll just learn some discipline :)

[2017-09-26 15:44] #468 closed

[2017-09-26 15:44] kennethreitz commented on #440
this is now implemented!

[2017-09-26 15:44] #440 closed

[2017-09-26 15:45] kennethreitz commented on #439
Heroku-16 and GEOS do not play well together. I'm going to update the documentation today to reflect this.

[2017-09-26 15:46] edmorley commented on #440
Awesome - thank you :-)

[2017-09-26 15:48] kennethreitz commented on #418
this is now fixed

[2017-09-26 15:48] #418 closed

[2017-09-26 15:49] #419 closed

[2017-09-26 15:49] #376 closed

[2017-09-26 15:49] #439 closed

[2017-09-26 15:49] kennethreitz commented on #439
The release of Django 2.0 may solve this.

[2017-09-26 15:50] #457 closed

[2017-09-26 15:50] #420 closed

[2017-09-26 23:01] harelw commented on #398
To get GeoDjango working I also had to set the following Config Variables:

[code]

Shouldn't the buildpack take care of this when `BUILD_WITH_GEO_LIBRARIES=1` is set?

[2017-09-26 23:07] kennethreitz commented on #398
@harelw on which stack?

[2017-09-26 23:10] harelw commented on #398
heroku-16

[2017-09-27 18:39] kennethreitz commented on #398
I'll have to experiment with that myself. If true, the buildpack can definitely do that for you.

[2017-09-28 08:21] ntcong opened #477 "Support for test command"
So I stumped upon some problem with auto test with Gitlab and found this
https://gitlab.com/gitlab-org/gitlab-ce/issues/26941

Basically gitlab said that python buildpack does not support test command. And then I also found this from Nov 2016 https://github.com/heroku/heroku-buildpack-python/commit/89125df805a8a942dbb18d7fa413da7cc28359c0 which we removed test command because it's deprecated

The

[2017-09-28 10:15] mercuree commented on #447
I get same error, when trying to install python-3.5.3.
https://lang-python.s3.amazonaws.com/heroku-16/runtimes/python-3.5.3.tar.gz
File exists
stack heroku-16.

[2017-09-28 10:33] edmorley commented on #447
You're issue is likely unrelated, given that the one here was due to the file missing, and the error message in that case has seen been made clearer due to fixes in the buildpack. As such, I'd open a new issue :-)

[2017-09-28 14:09] kennethreitz commented on #447
thank you @edmorley

[2017-09-28 14:10] kennethreitz commented on #477
we have tests.

[2017-09-28 14:10] #477 closed

[2017-09-28 14:10] kennethreitz commented on #477
they just don't exist there.

[2017-09-30 14:48] codingjoe commented on #398
@kennethreitz I just checked, it seems the binaries on your bucked have not be updated. This is odd, since I updated all packages in my last 3 pull-requests.

[code]

[2017-10-01 09:48] codingjoe commented on #398
Ok, when I set the pathes manually in my Django application it works:
[code]
I will try what happens if I set the `LD_LIBRARY_PATH` to `/app/.heroku/vendor/lib`

[2017-10-01 11:05] codingjoe commented on #398
Ok, I opened a pull-request. It should fix the issue for the latest Django releases.
The problem with the wrong binaries still remains. I guess you guys should double check your deployment pipeline for those binaries.

[2017-10-14 21:25] alex opened #482 "add python 3.6.3"

[2017-10-14 21:29] edmorley commented on #482
There is #479 open for this - @kennethreitz I don't suppose you could generate those builds sometime this week? :-)

[2017-10-25 04:10] LegoStormtroopr commented on #416
I've finally got around to looking at this, and using a pre_compile hook to popular `.netrc` was perfect (and much better than attempts I'd already tried).

Thanks again everyone!

[2017-10-25 09:53] edmorley commented on #416
Ah that's great! Thank you for confirming that works :-)

[2017-11-14 17:44] #482 closed

[2017-11-15 21:57] #398 closed

[2017-11-16 03:05] harelw commented on #398
Still seems to fail if I remove `GDAL_LIBRARY_PATH=/app/.heroku/vendor/lib/libgdal.so` from config vars:

[2017-11-16 13:49] codingjoe commented on #398
Yes, same here, I set it manually too.

[2017-11-16 13:50] codingjoe commented on #398
Wait @harelw actually this should have fixed it: #478

[2017-11-16 13:50] codingjoe commented on #398
Haven't tried it yet, since it was just merged ;)

[2017-11-17 01:17] harelw commented on #398
Yea I mentioned it because I am pretty sure I tried it after the merge.

[2017-11-18 23:03] leemengtaiwan commented on #33
I know this issues is closed, but I tried to specify a different runtime in runtime.txt and redeploy and revert and heroku still include many packages even if I already remove them all in requirement.txt.

Any further suggestion available?

[2017-11-19 07:20] wooyek commented on #33
For anyone who stumbles here, as a workaround you can user `post_compile` hook, eg.:

[code]
…or similar.

[2017-12-03 01:25] wsxiaoys opened #488 "set --enable-loadable-sqlite-extensions in configure?"
It'll be nice if heroku could enable sqlite extension by default

[2017-12-03 20:13] edmorley commented on #488
Hi! To pre-empt what I imagine will be Kenneth's question... what's the use case for using sqlite extensions (or sqlite at all) on Heroku dynos? (Since the filesystem is ephemeral)

[2017-12-03 20:36] wsxiaoys commented on #488
Sqlite:
We have a few readonly sqlite database stored in S3, they'll be fetched to dyno to be served as API.

Sqlite-extension:
Many mathematical functions, e.g log, expt are not available in sqlite, we'd like to load [extension-functions.c](https://www.sqlite.org/contrib/download/extension-functions.c?get=25)

[2017-12-05 15:10] kennethreitz commented on #488
sqlite is very useful to have, as it’s a very fast database that can be used despite our ephemeral filesystem — it just can’t be used persistiently.

In addition to that, some tools/libraries, e.g. iPython, import sqlite, expecting it to be available as part of the stdlib, and will not function if it is not compiled at build time.

I don’t forsee changing our level of support here, though.

[2017-12-07 10:08] qutaken commented on #246
me meet too!

all error : Counting objects: 49, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (40/40), done.
Writing objects: 100% (49/49), 11.80 KiB | 0 bytes/s, done.
Total 49 (delta 3), reused 0 (delta 0)
remote: Compressing source files... done.
remote: Building source:
remote:
remote: -----> Python app detected
remote:  !     Warning: Your application is missing a P

[2017-12-07 11:55] shivangigupta1404 commented on #246
@qutaken inside your app directory run following commands

`echo web:gunicorn <app-name>.wsgi`
`echo python-2.7.11> runtime.txt`

PS: runtime.txt specifies the python version you are using, so set accordingly.

[2017-12-21 13:42] joaorafaelm opened #493 "Error when deploying with pipenv"
After updating my app to use pipenv, every time I deploy it, an exception is raised; the deployment is successful though; the exception acts like a warning. Is this an expected behaviour? should I still include the pass.txt file?
[code]

[2017-12-21 16:02] joaorafaelm commented on #493
It seems like this issue is no longer a problem. Thanks anyway;

[2017-12-21 16:02] #493 closed

[2018-01-08 04:33] Srigowri opened #497 "Using excel file and pandas"
I have a node-js application that spawns a python script(I have done the buildpack. A simple program works fine) .
I am trying to read data from an excel file(.xlsx) into a Dataframe. The excel file(.xlsx) , python script(.py file) and the index.js file are in the root directory(at same level).
The problem is that the excel file is not being read. The flow of program does not go past this read sta

[2018-01-09 14:44] kennethreitz opened #498 "New release (python:python:2.7.9) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:44] kennethreitz opened #499 "New release (python:python:3.4.2) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:44] kennethreitz opened #500 "New release (python:python:3.3.6) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:44] kennethreitz opened #501 "New release (python:python:3.2.6) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:44] kennethreitz opened #502 "New release (python:python:2.7.8) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:44] kennethreitz opened #503 "New release (python:python:2.7.7) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:44] kennethreitz opened #504 "New release (python:python:3.4.1) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:44] kennethreitz opened #505 "New release (python:python:3.4.0) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:44] kennethreitz opened #506 "New release (python:python:3.1.5) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:44] kennethreitz opened #507 "New release (python:python:3.2.2) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:45] kennethreitz opened #508 "New release (python:python:2.4.4) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:45] kennethreitz opened #509 "New release (python:python:2.5.0) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:45] kennethreitz opened #510 "New release (python:python:2.4.3) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:45] kennethreitz opened #511 "New release (python:python:2.4.2) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:45] kennethreitz opened #512 "New release (python:python:2.4.1) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:45] kennethreitz opened #513 "New release (python:python:2.4.0) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:45] kennethreitz opened #514 "New release (python:python:2.3.4) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 14:46] #498 closed

[2018-01-09 14:46] #499 closed

[2018-01-09 14:46] #500 closed

[2018-01-09 14:46] #501 closed

[2018-01-09 14:46] #502 closed

[2018-01-09 14:46] #503 closed

[2018-01-09 14:46] #504 closed

[2018-01-09 14:46] #505 closed

[2018-01-09 14:46] #506 closed

[2018-01-09 14:46] #507 closed

[2018-01-09 14:46] #508 closed

[2018-01-09 14:46] #509 closed

[2018-01-09 14:46] #510 closed

[2018-01-09 14:46] #511 closed

[2018-01-09 14:46] #512 closed

[2018-01-09 14:46] #513 closed

[2018-01-09 14:46] #514 closed

[2018-01-09 15:06] kennethreitz opened #515 "New release (python:python:3.6.4) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #516 "New release (python:python:3.6.3) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #517 "New release (python:python:3.3.7) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #518 "New release (python:python:2.7.14) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #519 "New release (python:python:3.4.7) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #520 "New release (python:python:3.5.4) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #521 "New release (python:python:3.6.2) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #522 "New release (python:python:3.6.1) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #523 "New release (python:python:3.4.6) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #524 "New release (python:python:3.5.3) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #525 "New release (python:python:3.6.0) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #526 "New release (python:python:2.7.13) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #527 "New release (python:python:3.4.5) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #528 "New release (python:python:3.5.2) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #529 "New release (python:python:2.7.12) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #530 "New release (python:python:3.4.4) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #531 "New release (python:python:3.5.1) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #532 "New release (python:python:2.7.11) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #533 "New release (python:python:3.5.0) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.

[2018-01-09 15:06] kennethreitz opened #534 "New release (python:python:2.7.10) available! (Herald System)"
This issue created programmatically and automatically by Heroku, on behalf of kennethreitz, the owner of the python buildpack.